{{ form_start(form, {attr:{id: 'form-contatti',novalidate: 'novalidate'}}) }}
<div class="field-wrp">
    <div class="form-group req">
        <div class="form-widget" name="nome">{{ form_widget(form.nome) }}</div>
    </div>
    <div class="form-group req">
        <div class="form-widget" name="cognome" >{{ form_widget(form.cognome) }}</div>
    </div>
    <div class="form-group email req">
        <div class="form-widget" name="email" >{{ form_widget(form.email) }}</div>
    </div>
    <div class="form-group">
        <div class="form-widget" name="RecapitiTelefonici">{{ form_widget(form.RecapitiTelefonici)}}</div>
    </div>
    <div class="form-group">
        <div class="form-widget"  name="messaggio">{{ form_widget(form.messaggio)}}</div>
    </div>
    <div class="form-group req">
        <div class="form-widget" name="privacy"><small><a href="{{ path('qm_usurabancaria_privacy') }}" target="_blank">Consenso privacy </a>e <a href="{{ path('qm_usurabancaria_condizioni_generali') }}" target="_blank">Condizioni generali del servizio</a></small> {{ form_widget(form.privacy)}}</div>
    </div>
    <button id="bottone" type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> INVIA</button>
</div>
{{ form_end(form) }}