{{ form_start(form, {attr: {novalidate : 'novalidate'}} ) }}
    {{ form_errors(form) }}
    <div id="titoloStepPrimo">
        <p class="title small"><i class="fa fa-calculator" aria-hidden="true" style="color: #00897B;"></i> Calcola Subito</p>
        <p class="title-sub mini">Compila il form per cominciare il calcolo delle anomalie bancarie.</p>
        <hr>
    </div>
    <div id="form-homepage" class="field-wrp">
        {% if form.tipo.vars.expanded %}
            <p class="float-left w30 fs16 bold-4" id="titoloForm">Sei una:</p>
            <div class="form-group req float-right w70 " id="tipo">
                {% for child in form.tipo %}
                    <div class="form-widget " id="tipo{{ child.vars.name }}">
                        {{ form_widget(child) }}<small class="mr-l-5 fs14">{{ form_label(child) }}</small>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-group hidden" id="nome">
            <div class="form-widget" >{{ form_widget(form.nome) }}</div>
        </div>
        <div class="form-group hidden" id="cognome">
            <div class="form-widget"  >{{ form_widget(form.cognome) }}</div>
        </div>
        <div class="form-group hidden" id="ragioneSociale">
            <div class="form-widget">{{ form_widget(form.ragioneSociale)}}</div>
        </div>
        <div class="form-group hidden" id="nominativoReferente">
            <div class="form-widget"  >{{ form_widget(form.nominativoReferente)}}</div>
        </div>
        <div class="form-group hidden req" id="recapitiTelefonici">
            <div class="form-widget">{{ form_widget(form.recapitiTelefonici)}}</div>
        </div>
        <div class="form-group hidden email req" id="email">
            <div class="form-widget"  >{{ form_widget(form.email) }}</div>
        </div>
    </div>
    <p id="titoloStepSecondo" class="mini hidden bold-4 fs20">Step 2 - Indica i tuoi rapporti bancari.</p>
    <div class="field-wrp hidden" id="stepSecondo">
        <div class="form-group req" id="numeroConti">
            <div class="form-widget" >{{ form_widget(form.numeroConti) }}</div>
        </div>
        <div class="form-group req" id="lineaFido">
            <div class="form-widget "  >{{ form_label(form.lineaFido) }}{{ form_widget(form.lineaFido) }}</div>
        </div>
        <div class="form-group hidden" id="importo" >
            <div class="form-widget" >{{ form_widget(form.importo) }}</div>
        </div>
        <div class="form-group " id="lineaCredito">
            <div class="form-widget">{{ form_widget(form.lineaCredito) }}</div>
        </div>
        <div class="form-group req" id="privacy">
            <div class="form-widget "><small><a href="{{ path('qm_usurabancaria_privacy') }}" target="_blank">Consenso privacy </a>e <a href="{{ path('qm_usurabancaria_condizioni_generali') }}" target="_blank">Condizioni generali del servizio</a></small> {{ form_widget(form.privacy)}}</div>
        </div>
        <button id="bottoneIndietro" class="btn-line mr-b-10">INDIETRO</button>
    </div>
    <button id="bottone" name="bottoneAvanti" type="submit" class="btn btn-primary">AVANTI</button>

{{ form_end(form) }}