<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatto Inviato - Calcolo Usura Bancaria</title>
    <meta name="robots" content="no index,follow">


    <!--pageMeta-->
    {#<script src="bundle.js"><#}{##}{#/script>#}
    <!-- Lib CSS -->
    <script type="text/css" href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet"></script>
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!– Facebook Pixel Code –>
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1030878423688819'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1030878423688819&ev=PageView&noscript=1"
        /></noscript>
    <!– DO NOT MODIFY –>
    <!– End Facebook Pixel Code –>
</head>
<script>fbq('track', '<EVENT_NAME>');</script>
<body>
<div id="page" data-linkscroll='y'>
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}


    <!-- Extra-section -->
    <section class="extra-section extra-content5 edit-item mr-t-40" data-sandboxid="tmp-rgxMo0">
        <div class="container align-c">

            <div class="w75 mr-auto">
                <div class="sq200 iconwrp flex-cc fs100 txt-light bg-color3 rd edit-item" data-sandboxid="tmp-rgBIf0">
                    <i class="pe-7s-like2 edit-item" data-sandboxid="tmp-rgjNF0"></i>
                </div>
                <hr class="w50 mr-tb-40 mr-auto edit-item" data-sandboxid="tmp-rgSTi0">
                <h1 class="title lh1-2 bold-4">Messaggio inviato con successo</h1>
                <h2 class="title small italic bold-4">Grazie per averci scritto, a breve riceverai una nostra risposta</h2>
            </div>

        </div><!-- / container-fluid -->
    </section><!-- /extra-section -->






    <!-- Footer section -->
    {% include 'footer.html.twig' %}
    <!-- ./Footer section -->

</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}

</body>
</html>