<section class="footer-section footer-section-5 edit-item" data-sandboxid="tmp-rgkG60">
    <div class="container">
        <a href="#" class="edit-item edit-content" data-sandboxid="tmp-rgWy80"><img class="ft-logo edit-item" src="{{ asset('assets/logo-bn.png') }}" alt="Calcolo Usura Bancaria" data-sandboxid="tmp-rgVXP0"></a>

        <div class="link-list">
            <a href="{{ path('qm_usurabancaria_chisiamo') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy81">Chi Siamo</a>
            <a href="{{ path('qm_usurabancaria_anatocismo_bancario') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy81">Anatocismo Bancario</a>
            <a href="{{ path('qm_usurabancaria_usura_bancaria') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy81">Usura Bancaria</a>
            <a href="{{ path('qm_usurabancaria_come_funziona') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy82">Come Funziona</a><br>
            <a href="{{ path('qm_usurabancaria_analisi_conto_corrente') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy82">Analisi Conto Corrente</a>
            <a href="{{ path('qm_usurabancaria_analisi_mutuo') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy82">Analisi Mutuo</a>
            <a href="{{ path('qm_usurabancaria_analisi_conto_anticipi') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy82">Analisi Conto Anticipi</a>
            <a href="{{ path('qm_usurabancaria_analisi_leasing') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy82">Analisi Leasing</a>
            <a href="{{ path('qm_usurabancaria_analisi_finanziamenti') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy82">Analisi Finanziamenti</a>
            <a href="{{ path('qm_usurabancaria_rottamazione_cartelle_equitalia') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy82">Rottamazione Cartelle Equitalia</a><br>
            <a href="http://info.tuttovisure.it/anatocismo-ed-usura-bancaria/" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgWy84">Blog</a>
            <a href="http://info.tuttovisure.it/glossario-usura-anatocismo-bancario/" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgWy84">Glossario</a>
            <a href="{{ path('qm_usurabancaria_lavora_con_noi') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy85">Clienti Business</a>
            <a href="{{ path('qm_usurabancaria_privacy') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy85">Privacy</a>
            <a href="{{ path('qm_usurabancaria_condizioni_generali') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy85">Condizioni del servizio</a>
            <a href="{{ path('qm_usurabancaria_contatti') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy85">Contatti</a>
            <a href="{{ path('qm_usurabancaria_mappa_del_sito') }}" class="edit-item edit-content" data-sandboxid="tmp-rgWy85">Mappa del Sito</a>

        </div><!-- /.link-list -->

        <div class="social-links">
            <a href="https://www.facebook.com/calcolousura/" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgWy86"><i class="fa fa-facebook edit-item" data-sandboxid="tmp-rgk4V0"></i></a>
            {#<a href="#" class="edit-item edit-content" data-sandboxid="tmp-rgWy87"><i class="fa fa-twitter edit-item" data-sandboxid="tmp-rgk4V1"></i></a>
            <a href="#" class="edit-item edit-content" data-sandboxid="tmp-rgWy88"><i class="fa fa-google-plus edit-item" data-sandboxid="tmp-rgk4V2"></i></a>
            <a href="#" class="edit-item edit-content" data-sandboxid="tmp-rgWy89"><i class="fa fa-youtube-play edit-item" data-sandboxid="tmp-rgk4V3"></i></a>#}

        </div><!-- /Social -->

        <hr class="edit-item" data-sandboxid="tmp-rgxSb0">
        <p class="copyright edit-item edit-content" data-sandboxid="tmp-rgHOp0">IWS srl <br>P.Iva 14071321005<br> Via Emanuele Pessagno 11<br>00122 Roma<br>CalcoloUsuraBancaria.it © 2016</p>
        <p class="copyright edit-item edit-content" data-sandboxid="tmp-rgHOp0">Azienda del Gruppo QM srl <br><a href="https://www.tuttovisure.it" target="_blank">TuttoVisure.it</a></p>

    </div>
</section>