{#<nav class="nav-wrp nav-4 edit-item" data-sticky="y" data-glass="y">#}
<nav class="nav-wrp nav-4 edit-item">
    <div class="container">

        <div class="nav-header">
            <a class="navbar-brand edit-item edit-content" href="{{ path('qm_usurabancaria_home') }}" data-sandboxid="tmp-rgrxk0"><img src="{{ asset('assets/logo-calcoloUsuraBancaria.png') }}" alt="Calcolo Usura Bancaria" class="edit-item" data-sandboxid="tmp-rg7Xb0"></a>
            <a class="nav-handle fs-touch-element edit-item edit-content" data-nav=".nav" data-sandboxid="tmp-rgrxk1"><i class="fa fa-bars edit-item" data-sandboxid="tmp-rgdaB0"></i></a>
        </div>

        <div class="nav vm-item edit-item" data-sandboxid="tmp-rgDTZ0">
            <ul class="nav-links">
                <li class="edit-item" data-sandboxid="tmp-rg86h0"><a href="{{ path('qm_usurabancaria_chisiamo') }}" class="edit-item edit-content" data-sandboxid="tmp-rgrxk2">Chi Siamo</a></li>
                <li class="edit-item" data-sandboxid="tmp-rg86h1"><a href="{{ path('qm_usurabancaria_come_funziona') }}" class="edit-item edit-content" data-sandboxid="tmp-rgrxk3">Come Funziona</a></li>
{#
                <li class="edit-item" data-sandboxid="tmp-rg86h2"><a href="#s3" class="edit-item edit-content" data-sandboxid="tmp-rgrxk4">Testimonianze</a></li>
#}
                <li class="edit-item" data-sandboxid="tmp-rg86h3"><a href="{{ path('qm_usurabancaria_lavora_con_noi') }}" class="edit-item edit-content" data-sandboxid="tmp-rgrxk5">Clienti Business</a></li>
{#
                <li class="edit-item" data-sandboxid="tmp-rg86h3"><a href="http://info.tuttovisure.it/anatocismo-ed-usura-bancaria/" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgrxk5">Blog</a></li>
#}
                <li class="edit-item" data-sandboxid="tmp-rg86h4"><a href="{{ path('qm_usurabancaria_calcola_subito') }}" class="edit-item edit-content btn btn-primary2" data-sandboxid="tmp-rgrxk6">Calcola Ora <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                    </a></li>
            </ul>
            <div class="nav-other edit-item" data-sandboxid="tmp-rgpZy0">
                <span class="edit-item edit-content" data-sandboxid="tmp-rgIJr0"><i class="fa fa-phone edit-item" data-sandboxid="tmp-rgdaB1"></i> 06.62.28.86.11</span>

            </div>
        </div>

        <!-- /.nav -->

    </div><!-- /.container -->
</nav><!-- /.nav-wrp -->

