<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Richiesta Inviata - Calcolo Usura Bancaria</title>
    <meta name="robots" content="no index,follow">


    <!--pageMeta-->
    {#<script src="bundle.js"><#}{##}{#/script>#}
    <!-- Lib CSS -->
    <script type="text/css" href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet"></script>
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!– Facebook Pixel Code –>
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1030878423688819'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1030878423688819&ev=PageView&noscript=1"
        /></noscript>
    <!– DO NOT MODIFY –>
    <!– End Facebook Pixel Code –>
</head>
<script>fbq('track', '<EVENT_NAME>');</script>

<body>
<div id="page" data-linkscroll='y'>
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}


    <!-- Extra-section -->
    <section class="extra-section extra-content5 edit-item mr-t-40" data-sandboxid="tmp-rgxMo0">
        {#<div class="container align-c">

            <div class="w75 mr-auto">
                <p class="title lh1-2 bold-4">Dati registrati con successo <i class="fa fa-thumbs-up" aria-hidden="true"></i></p>
                <hr class="w50 mr-tb-40 mr-auto edit-item" data-sandboxid="tmp-rgSTi0">
            </div>

        </div><!-- / container-fluid -->#}

        <div class="container align-c">


            <div class="w75 mr-auto">


                <p class="title lh1-2 bold-4"><i class="fa fa-check" aria-hidden="true"></i>
                    Dati registrati con successo.</p>
                <hr class="w50 mr-tb-40 mr-auto edit-item" data-sandboxid="tmp-rgSTi0">

            </div><div class="w75 mr-auto">


                <p class="title lh1-2 bold-4"><i class="fa fa-calculator" aria-hidden="true"></i>
                    Scegli su cosa calcolare:
                </p>


            </div>
            <div class="row eqh mb20 fs-equalize-element" style="padding-top: 40px;">

                <!-- column -->
                <div class="col-md-3" style="height: 500px;">
                    <!-- product-box -->
                    <div class="product-box product-box1 align-l edit-item" data-sandboxid="tmp-rgGXb0">
                        <div class="img">
                            <a href="{{ path('qm_usurabancaria_analisi_conto_corrente') }}" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgQuB0"><img src="{{ asset('assets/conto-corrente.jpg') }}" alt="Analisi conto corrente" class="edit-item" data-sandboxid="tmp-rgEdQ0"></a>
                        </div>
                        <div class="info edit-item" data-sandboxid="tmp-rgME70">
                            <h3 class="hd edit-item edit-content" data-sandboxid="tmp-rgnBl0"><a href="{{ path('qm_usurabancaria_analisi_conto_corrente') }}" class="edit-item edit-content" data-sandboxid="tmp-rgQuB1">Analisi su Conto Corrente</a></h3>
                            <p class="txt edit-item edit-content" data-sandboxid="tmp-rgVN41">Calcola l'Usura Bancaria sui tuoi conti correnti. L'Analisi Econometrica verificherà che siano state rispettate le condizioni del contratto e che sussistano eventuali interessi anatocistici e tassi usurari sugli estratti conto trimestrali.

                            </p>
                            <hr class="mr-tb-10 op edit-item" data-sandboxid="tmp-rgnlW1">
                            <a href="{{ path('qm_usurabancaria_analisi_conto_corrente') }}" class="btn btn-line dark btn-sm edit-item edit-content" data-sandboxid="tmp-rgQuB2">Calcola Ora!</a>
                            <!--<p class="fs12 edit-item edit-content" data-sandboxid="tmp-rgVN42">All prices display per day</p>-->
                        </div>
                    </div><!-- /.product-box -->
                </div><!-- /.column -->

                <!-- column -->
                <div class="col-md-3" style="height: 500px;">
                    <!-- product-box -->
                    <div class="product-box product-box1 align-l edit-item" data-sandboxid="tmp-rgGXb1">
                        <div class="img">
                            <!--<span class="save-tag edit-item edit-content" data-sandboxid="tmp-rgeV11">SAVE 10%</span>-->
                            <a href="{{ path('qm_usurabancaria_analisi_mutuo') }}" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgQuB3"><img src="{{ asset('assets/analisi-mutuo.jpg') }}" alt="Analisi mutuo" class="edit-item" data-sandboxid="tmp-rgEdQ1"></a>
                            <!--<div class="price flex-cc edit-item edit-content" data-sandboxid="tmp-rgdyG1">
                                <div align="center">From<br><b class="edit-item edit-content" data-sandboxid="tmp-rgkW61">$22.00*</b></div>
                            </div>-->
                        </div>
                        <div class="info edit-item" data-sandboxid="tmp-rgME71">
                            <h3 class="hd edit-item edit-content" data-sandboxid="tmp-rgnBl1"><a href="{{ path('qm_usurabancaria_analisi_mutuo') }}" class="edit-item edit-content" data-sandboxid="tmp-rgQuB4">Analisi Mutuo</a></h3>
                            <p class="txt edit-item edit-content" data-sandboxid="tmp-rgVN43">Vuoi identificare l'importo recuperabile dalla tua banca sul tuo contratto di mutuo? Il nostro servizio consentirà di evidenziare l'eventuale superamento delle soglie di usura e l'applicazione di spese illegittime.

                            </p>
                            <hr class="mr-tb-10 op edit-item" data-sandboxid="tmp-rgnlW3">
                            <a href="{{ path('qm_usurabancaria_analisi_mutuo') }}" class="btn btn-line dark btn-sm edit-item edit-content" data-sandboxid="tmp-rgQuB5">Calcola Ora!</a>
                        </div>
                    </div><!-- /.product-box -->
                </div><!-- /.column -->

                <!-- column -->
                <div class="col-md-3" style="height: 500px;">
                    <!-- product-box -->
                    <div class="product-box product-box1 align-l edit-item" data-sandboxid="tmp-rgGXb2">
                        <div class="img">
                            <!--<span class="save-tag edit-item edit-content" data-sandboxid="tmp-rgeV12">SAVE 10%</span>-->
                            <a href="{{ path('qm_usurabancaria_rottamazione_cartelle_equitalia') }}" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgQuB6"><img src="{{ asset('assets/equitalia.jpg') }}" alt="Rottamazione cartelle equitalia" class="edit-item" data-sandboxid="tmp-rgEdQ2"></a>
                            <div class="price flex-cc edit-item edit-content" data-sandboxid="tmp-rgdyG2">
                                <div align="center">Novità</div>
                            </div>
                        </div>
                        <div class="info edit-item" data-sandboxid="tmp-rgME72">
                            <h3 class="hd edit-item edit-content" data-sandboxid="tmp-rgnBl2"><a href="{{ path('qm_usurabancaria_rottamazione_cartelle_equitalia') }}" class="edit-item edit-content" data-sandboxid="tmp-rgQuB7">Rottamazione Cartelle Equitalia</a></h3>
                            <p class="txt edit-item edit-content" data-sandboxid="tmp-rgVN45"><strong>Verifica</strong> la regolarità delle Cartelle Equitalia oppure richiedine la <strong>Rottamazione</strong> come previsto della Finanziaria.<br><br><strong>Scadenza: entro Marzo 2017</strong></p>
                            <hr class="mr-tb-10 op edit-item" data-sandboxid="tmp-rgnlW4">
                            <a href="{{ path('qm_usurabancaria_rottamazione_cartelle_equitalia') }}" class="btn btn-line dark btn-sm edit-item edit-content" data-sandboxid="tmp-rgQuB8">Calcola Ora!</a>
                            <!--<p class="fs12 edit-item edit-content" data-sandboxid="tmp-rgVN46">All prices display per day</p>-->
                        </div>
                    </div><!-- /.product-box -->
                </div><!-- /.column -->

                <!-- column -->
                <div class="col-md-3" style="height: 500px;">
                    <!-- product-box -->
                    <div class="product-box product-box1 align-l edit-item" data-sandboxid="tmp-rgGXb3">
                        <div class="img">
                            <!--<span class="save-tag edit-item edit-content" data-sandboxid="tmp-rgeV13">SAVE 10%</span>-->
                            <a href="{{ path('qm_usurabancaria_analisi_leasing') }}" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgQuB9"><img src="{{ asset('assets/analisi-leasing.jpg') }}" alt="Analisi Leasing" class="edit-item" data-sandboxid="tmp-rgEdQ3"></a>
                            <!--<div class="price flex-cc edit-item edit-content" data-sandboxid="tmp-rgdyG3">
                                <div align="center">From<br><b class="edit-item edit-content" data-sandboxid="tmp-rgkW63">$43.00*</b></div>
                            </div>-->
                        </div>
                        <div class="info edit-item" data-sandboxid="tmp-rgME73">
                            <h3 class="hd edit-item edit-content" data-sandboxid="tmp-rgnBl3"><a href="{{ path('qm_usurabancaria_analisi_leasing') }}" class="edit-item edit-content" data-sandboxid="tmp-rgQuB10">Analisi Leasing</a></h3>
                            <p class="txt edit-item edit-content" data-sandboxid="tmp-rgVN47">Il calcolo sugli Illeciti Bancari può essere effettuato anche sui contratti di leasing. Richiedilo, e il nostro esperto verificherà tutta la documentazione per calcolare gli importi minimi recuperabili.

                            </p>
                            <hr class="mr-tb-10 op edit-item" data-sandboxid="tmp-rgnlW7">
                            <a href="{{ path('qm_usurabancaria_analisi_leasing') }}" class="btn btn-line dark btn-sm edit-item edit-content" data-sandboxid="tmp-rgQuB11">Calcola Ora!</a>
                            <!--<p class="fs12 edit-item edit-content" data-sandboxid="tmp-rgVN48">All prices display per day</p>-->
                        </div>
                    </div><!-- /.product-box -->
                </div><!-- /.column -->


            </div>
        </div>
    </section><!-- /extra-section -->






    <!-- Footer section -->
    {% include 'footer.html.twig' %}
    <!-- ./Footer section -->

</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}


</body>
</html>