<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisi Mutuo - Calcolo Usura Bancaria</title>
    <meta name="description" content="Identifica l'importo recuperabile sul tuo mutuo. Verifica eventuali superamenti delle soglie di usura e spese illegittime applicate.">
    <meta name="keywords" content="analisi mutuo, soglia usura, superamento tassi usura, mutui usurai, tassi usurai, analisi contratti, usura bancaria">
    <meta name="robots" content="index,follow">
    <!--pageMeta-->

    <!-- Lib CSS -->
    <link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>

    {#<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-31277724-33', 'auto');
        ga('send', 'pageview');
    </script>#}

</head>
<body>
<div id="page" data-linkscroll="y">
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}



    <!-- Header -->
    <header class="pghead-section pghead-section1 bg-verde-scuro edit-item pd-tb-10" data-sandboxid="tmp-rgyQh0">
        <div class="container typo-light">

            <div class="pg-path float-right fs11">
                <a href="/" class="edit-item edit-content" data-sandboxid="tmp-rgMQy0">Home</a>
                <b> / </b>
                <a href="{{ path('qm_usurabancaria_analisi_mutuo') }}" class="edit-item edit-content" data-sandboxid="tmp-rgMQy1">Analisi mutuo</a>
            </div>
        </div>
    </header><!-- / Header -->






    <!-- extra-section -->
    <section class="extra-section extra-content2 pd-b-20">
        <div class="container">
            <div class="flex-row middle-md">

                <div class="flex-col-md-12">
                    <div class="content">
                        <h1 class="mr-b-10">Analisi Mutuo</h1>
                        <h2 class="fs18 mr-b-10">Compila il form e chiedi l'assistenza del nostro esperto per l'Analisi Mutui.

                        </h2>
                    </div>
                </div><!-- / column -->
            </div><!-- / row -->
        </div><!-- / container -->
    </section><!-- / extra-section -->



    <!-- Form section -->
    <section class="form-section form-section-5 bg-gray sm-pd-reset sm-align-c edit-item" id="freetrial" data-sandboxid="tmp-rgT2c0">
        <div class="container">

            <div class="flex-row middle-md">

                <div class="flex-col-md-5 align-c">
                    <div class="white-popup-block popup-form">
                        <div class="pop-body brdColorGiallo bdr-1 rd-5">
                            {% include 'form/form-contatti-home.html.twig' with {form: form} %}
                            <div class="msg-block"></div>
                        </div>
                    </div>
                </div><!-- / column -->
                <div class="flex-col-md-6 flex-col-md-offset-1 align-l">
                    <p class="title-sub small edit-item edit-content" data-sandboxid="tmp-rgUkB0">Vuoi verificare se sul mutuo sussistono interessi anatocistici? Il nostro consulente è a tua disposizione per avviare l'<strong>Analisi Econometrica completa!</strong><br>

                        Inviaci i tuoi dati tramite il modulo di richiesta online, o chiama il nostro ufficio per gli illeciti bancari allo <strong>06.62.28.86.11.</strong> Riceverai assistenza per avviare la pratica di calcolo di <strong>Usura Bancaria</strong> sul tuo mutuo.

                        <br><br>Tramite il nostro servizio hai la garanzia di una <strong>verifica approfondita</strong> del tuo <strong>contratto di mutuo</strong>, e la consulenza di un esperto che controllerà l'eventuale mancato rispetto delle <strong>condizioni contrattuali</strong> ed il superamento delle <strong>soglie di usura</strong> indicate trimestralmente dal Tesoro ai sensi della legge 108/96.


                    </p>
                    <h6 class="fs20 bold-4">Scrivici, o chiama il numero dedicato!</h6>
                </div>
            </div><!-- / column -->

        </div><!-- / row -->

    </section><!-- /.form-section -->



    <!-- Footer section -->
    {% include 'footer.html.twig' %}
    <!-- ./Footer section -->

</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}
</body>
</html>