<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcola Subito Usura Bancaria</title>
    <meta name="description" content="Richiedi online l'Analisi Econometrica per verificare l'applicazione di tassi usurai ed interessi anatocistici sul tuo conto, mutuo o finanziamenti.">
    <meta name="keywords" content="calcola anatocismo bancario, calcola usura bancaria, analisi econometrica, Analisi Conti Correnti, analisi Mutui, analisi Leasing, analisi Finanziamenti, analisi Conti Anticipi">
    <meta name="robots" content="index,follow">
    <!--pageMeta-->

    <!-- Lib CSS -->
    <link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

    {#<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-31277724-33', 'auto');
        ga('send', 'pageview');
    </script>#}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
<div id="page" data-linkscroll="y">
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}



    <!-- Header -->
    <header class="pghead-section pghead-section1 bg-verde-scuro edit-item pd-tb-10" data-sandboxid="tmp-rgyQh0">
        <div class="bg-section full-wh bg-cc bg-cover edit-item" data-sandboxid="tmp-rgNhx0"></div>
        <div class="container typo-light">
            <div class="pg-path float-right fs11">
                <a href="/" class="edit-item edit-content" data-sandboxid="tmp-rgMQy0">Home</a>
                <b> / </b>
                <a href="{{ path('qm_usurabancaria_calcola_subito') }}" class="edit-item edit-content" data-sandboxid="tmp-rgMQy1">Calcola subito</a>
            </div>
        </div>
    </header><!-- / Header -->




    <!-- extra-section -->
    <section class="extra-section extra-content2">
        <div class="container">
            <div class="flex-row middle-md">
                {#<div class="flex-col-md-6 flex-col-md-offset-1 last-md">
                    <a href="https://www.youtube.com/watch?v=hpeYWdkUtcE" class="video-popup pos-rel block">
                        <div class="iconwrp sq100 pos-abs cm-item fs80 txt-light flex-cc"><i class="pe-7s-play"></i></div>
                        <img src="images/800x600_10.jpg" class="img-responsive" alt="image">
                    </a>
                </div>#}
                <div class="flex-col-md-12">

                    <div class="content">
                        <h1 class="mr-b-10">Calcola Usura Bancaria</h1>

                        <h2 class="fs18 mr-b-10">
                            Richiedi subito l'<strong>Analisi Econometrica</strong> per effettuare il calcolo dell'<strong>usura bancaria</strong>, ovvero per scoprire se sussistono <strong>illeciti bancari</strong> ed <strong>interessi anatocistici</strong> sul tuo conto corrente, sul tuo mutuo o sui tuoi contratti di finanziamento.</h2>
                        <p class="text mr-b-40">    Compila il modulo online, riceverai l'assistenza del nostro esperto per sapere se sono state superate le soglie dei tassi di interesse fino a diventare tassi d'usura, e a quanto ammonta il credito recuperabile dalle banche coinvolte.</p>
                    </div>
                </div><!-- / column -->
                <div class="white-popup-block popup-form">
                    <div class="pop-body brdColorGiallo bdr-1 rd-5">
                        {% include 'form/form-contatti-home.html.twig' with {form: form} %}
                        <div class="msg-block"></div>
                    </div>
                </div>
            </div><!-- / row -->
        </div><!-- / container -->
    </section><!-- / extra-section -->
    <!-- extra-section -->
    <section class="extra-section extra-content2">
        <div class="container">
            <div class="flex-row middle-md">
                <div class="flex-col-md-12">
                    <div class="content">
                        <h3 class="title medium bold-4 edit-item edit-content">Cos'è l'Anatocismo Bancario</h3>
                        <p class="text mr-b-40">Per Anatocismo Bancario si intende il calcolo degli interessi sugli interessi già applicati al capitale. In pratica, le banche e le società finanziarie che erogano il credito fanno versare ai loro clienti una somma superiore rispetto al dovuto in termini di interessi, con la conseguenza che il tasso di interesse globale si alza esponenzialmente. <br>Questa procedura è considerata illegittima dal 2004, secondo quanto ha stipulato la sentenza numero 21095 della Corte di Cassazione. Nonostante ciò, le banche continuano ad applicare interessi supplementari a quelli già calcolati, superando i tassi soglia prestabiliti dalla legge.</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Usura Bancaria, a cosa si riferisce</h3>
                        <p class="text mr-b-40">Quando il tasso di interesse applicato è maggiore rispetto al dovuto, l'Anatocismo Bancario si tramuta in Usura se tale capitalizzazione degli interessi supera i tassi soglia stabiliti trimestralmente dal Tesoro per i contratti di mutuo, leasing, finanziamento, e così via. Il servizio di calcolo dell'Usura Bancaria ti consente di verificare se sul tuo contratto (di mutuo, di leasing, di finanziamento, ecc.) sia stato applicato un tasso di interessi non conforme alla legge. E' bene infatti sapere che la procedura di capitalizzazione degli interessi è una pratica considerata illegittima, dovuta all'applicazione non conforme alla legge da parte delle banche di un tasso di interesse più alto rispetto alle soglie stabilite ogni tre mesi dal Ministero del Tesoro, in conformità con la legge 108 del 1996. L'Anatocismo, di per sé un illecito civile, si tramuta in reato penale quando diventa Usura.</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Perché l'Analisi Econometrica è indispensabile</h3>
                        <p class="text mr-b-40">Richiedendo l'aiuto del nostro consulente esperto, potrai contare su un'analisi completa del tuo contratto di mutuo o di leasing, del tuo conto corrente, o di qualsiasi altra forma di finanziamento da te accesa. L'Analisi Econometrica così ottenuta ti consentirà di capire se sussistono Anatocismo Bancario ed Usura sul contratto, e di valutare a quanto ammontano le eventuali somme illegittime trattenute dalle banche.</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Su cosa si può calcolare il tasso usura</h3>
                        <p class="text mr-b-40">Il nostro team specializzato provvederà ad analizzare il contratto su cui avviare il calcolo dell'Usura Bancaria per evidenziarvi la presenza di un tasso interessi non conforme alla legge, ovvero più alto delle soglie fissate dagli enti statali preposti. I contratti su cui potrai richiedere il calcolo dell'Usura Bancaria possono essere sia quelli ancora aperti che quelli chiusi e non ancora caduti in prescrizione (ovvero non cessati da più di 10 anni).</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Usura Bancaria, come si calcola il tasso usura</h3>
                        <p class="text mr-b-40">Il calcolo dell'Usura Bancaria avviene attraverso un'attenta analisi di più parametri. Dopo aver compilato il modulo di richiesta online per avviare subito il calcolo sull'Anatocismo Bancario, i nostri esperti ti chiederanno di inviare il contratto sotto esame, con relativi estratti conto trimestrali.<br>
                            Per calcolare l'Usura, verranno presi in considerazione i tassi d'interesse applicati, il numero di anni del conto corrente o del mutuo o del finanziamento, ed il valore degli interessi passivi.<br>
                            Reperire la documentazione necessaria è molto semplice, poiché ti basterà rivolgerti alla tua banca per risalire al tuo contratto, ai tuoi estratti conto ed al tuo scalare trimestrali, oltre che al tuo saldo in dare e avere.<br>
                            Il primo articolo della legge 108/1996, al primo comma, conferma che a determinare il tasso di interesse usuraio concorrono le commissioni, le remunerazioni e le spese (eccetto quelle per le tasse e le imposte), collegate all'erogazione del credito. Se il TAEG (ovvero il Tasso Annuo Effettivo Globale) supera il tasso soglia (ovvero il Tasso Effettivo Globale Medio) di una volta e mezza, sussiste l'Usura, gli interessi sono usurai, e la banca coinvolta può essere chiamata in causa per la restituzione del credito ottenuto in maniera illegittima.</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Anatocismo ed Usura Bancaria, per approfondire</h3>
                        <p class="text mr-b-40">Per avere maggiori dettagli sull'Anatocismo Bancario, sull'Usura, sugli interessi anatocistici e sugli illeciti bancari, collegati al nostro <a href="http://info.tuttovisure.it/anatocismo-ed-usura-bancaria/" target="_blank" class="bold-4">blog</a> ed il nostro <a href="http://info.tuttovisure.it/glossario-usura-anatocismo-bancario/" target="_blank" class="bold-4">glossario</a> ti aiuteranno a fare chiarezza sul tema. I nostri esperti rimangono a tua disposizione per qualsiasi ulteriore chiarimento sul calcolo dell'Usura Bancaria.</p>
                    </div>
                </div><!-- / column -->
            </div><!-- / row -->
        </div><!-- / container -->
    </section><!-- / extra-section -->





    <!-- Footer section -->
    {% include 'footer.html.twig' %}
    <!-- ./Footer section -->

</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}
</body>
</html>