<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcolo Usura Bancaria: Chi Siamo</title>
    <meta name="description" content="CalcoloUsuraBancaria.it, offre un servizio di tutela dei diritti del consumatore, dei professionisti e delle imprese. Assistenza tecnica - legale online.">
    <meta name="keywords" content="anatocismo bancario, usura bancaria, anatocismo, analisi econometrica, assistenza legale, Analisi Conti Correnti, analisi Mutui, analisi Leasing, analisi Finanziamenti, analisi Conti Anticipi">
    <meta name="robots" content="index,follow">
    <!--pageMeta-->

    <!-- Lib CSS -->
    <link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>


</head>
<body>
<div id="page" data-linkscroll="y">
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}



    <!-- Header -->
    <header class="pghead-section pghead-section1 bg-verde-scuro edit-item pd-tb-10" data-sandboxid="tmp-rgyQh0">
        <div class="container typo-light">
            <div class="pg-path fs11 float-right">
                <a href="/" class="edit-item edit-content" data-sandboxid="tmp-rgMQy0">Home</a>
                <b> / </b>
                <a href="{{ path('qm_usurabancaria_chisiamo') }}" class="edit-item edit-content" data-sandboxid="tmp-rgMQy1">Chi Siamo</a>
            </div>
            <h1 class="title edit-item edit-content" data-sandboxid="tmp-rgVNR0">Chi Siamo</h1>
        </div>
    </header><!-- / Header -->






    <!-- extra-section -->
    <section class="extra-section extra-content2">
        <div class="container">
            <div class="flex-row middle-md">
                {#<div class="flex-col-md-6 flex-col-md-offset-1 last-md">
                    <a href="https://www.youtube.com/watch?v=hpeYWdkUtcE" class="video-popup pos-rel block">
                        <div class="iconwrp sq100 pos-abs cm-item fs80 txt-light flex-cc"><i class="pe-7s-play"></i></div>
                        <img src="images/800x600_10.jpg" class="img-responsive" alt="image">
                    </a>
                </div>#}
                <div class="flex-col-md-12">
                    <div class="content">
                        <h2>Da più di 13 anni al servizio del Cittadino, del Professionista e dell'Impresa.</h2>
                        <p class="text mr-b-40"><strong>CalcoloUsuraBancaria.it</strong> è un marchio di <strong>IWS Srl</strong>, ultima nata dal <strong>gruppo di QM Srl</strong> che, da oltre 13 anni, offre a cittadini, imprese e professionisti servizi ad alto valore aggiunto.
                            <br>Con il progetto CalcoloUsuraBancaria.it, il gruppo intende offrire un servizio di tutela dei diritti del consumatore, dei professionisti e delle imprese.<br>
                            Uno staff tecnico preparato e l'assistenza dei nostri legali confermano l'attendibilità delle nostre Analisi Econometriche e del calcolo dell'Usura Bancaria su conti correnti, mutui, leasing e altri tipi di finanziamenti.
                            <br>Il nostro obiettivo è quello di fornire un resoconto il più favorevole possibile al cliente, ed una consulenza volta a comprendere come e se è conveniente avviare azioni di recupero degli importi dalle banche o dagli istituti di credito coinvolti.
                            <br><br><strong>CalcoloUsuraBancaria.it</strong> si interfaccia con <a class="bold-4" href="https://www.tuttovisure.it" target="_blank">TuttoVisure.it</a>, noto marchio del gruppo QM Srl e sito Internet leader sul mercato per il recupero documentale di certificati e visure dalla Pubblica Amministrazione, per l'erogazione di informazioni commerciali e di servizi per il marketing.
                            TuttoVisure.it, come distributore ufficiale di InfoCamere, garantisce inoltre l'accesso diretto ad informazioni ufficiali della <strong>Camera di Commercio</strong> ad imprese, professionisti e privati cittadini.
                            Diventare clienti business TuttoVisure.it costituirà un valore aggiunto sia per usufruire del servizio di calcolo dell'Usura Bancaria, sia per le richieste di visure, certificati ed indagini commerciali, grazie alla scontistica dedicata ed al canale di contatto preferenziale che consente ai nostri clienti b2b di snellire le procedure di richiesta ed usufruire di un notevole risparmio sui singoli servizi.


                        </p>
                    </div>
                </div><!-- / column -->
            </div><!-- / row -->
        </div><!-- / container -->
    </section><!-- / extra-section -->



    <!-- Call to action-section -->
    <section class="calltoaction-section calltoaction-section-2 edit-item" data-sandboxid="tmp-rgiJS0">
        <div class="container">
            <div class="flex-row middle-md gt30">
                <div class="flex-col-md-7 l animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <h3 class="title medium edit-item edit-content" data-sandboxid="tmp-rgFiD0">Il <strong>99%</strong> dei Conti Correnti <br><strong>Presenta anomalie bancarie</strong> Recupera i tuoi soldi!</h3>
                </div>
                <div class="flex-col-md-3 r animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <span class="fs20">Chiedi all'esperto</span><br>
                    <span class="fs30"><i class="fa fa-phone edit-item" data-sandboxid="tmp-rgFOx0"></i> 06.62.28.86.11</span>
                </div>
                <div class="flex-col-md-2 r align-c animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <a href="{{ path('qm_usurabancaria_calcola_subito') }}" class="btn btn-default btn-lg popup-contact edit-item edit-content" data-sandboxid="tmp-rgFJb0">Calcola Ora!</a>
                </div>
            </div>
        </div>
    </section><!-- /.calltoaction-section -->





    <!-- Footer section -->
    {% include 'footer.html.twig' %}
    <!-- ./Footer section -->

</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}
</body>
</html>