<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clienti Business Calcolo Usura Bancaria</title>
    <meta name="description" content="Sei un'Azienda o un Professionista? Diventa cliente business! CalcoloUsuraBancaria.it e TuttoVisure.it in un'unica piattaforma di servizi professionali.">
    <meta name="keywords" content="analisi econometrica, usura bancaria, perizia bancaria, illeciti bancari, anatocismo bancario">
    <meta name="robots" content="index,follow">
    <!--pageMeta-->

    <!-- Lib CSS -->
    <link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
<div id="page" data-linkscroll="y">
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}



    <!-- Header -->
    <header class="pghead-section pghead-section1 bg-verde-scuro edit-item pd-tb-10" data-sandboxid="tmp-rgyQh0">
        {#<div class="bg-section full-wh bg-cc bg-cover edit-item" data-bg="images/bg1.jpg" data-sandboxid="tmp-rgNhx0" style="background-image: url(&quot;images/bg1.jpg&quot;);"></div>#}
        <div class="container typo-light">
            <div class="pg-path fs11 float-right">
                <a href="/" class="edit-item edit-content" data-sandboxid="tmp-rgMQy0">Home</a>
                <b> / </b>
                <a href="{{ path('qm_usurabancaria_lavora_con_noi') }}" class="edit-item edit-content" data-sandboxid="tmp-rgMQy1">Clienti Business </a>
            </div>
            <h1 class="title edit-item edit-content" data-sandboxid="tmp-rgVNR0">Clienti Business</h1>


        </div>
    </header><!-- / Header -->

    <!-- content-section -->
    <section class="content-section content-section-common pd-0 no-border edit-item" id="reviews" data-sandboxid="tmp-rg8A50">
        <div class="container">
            <div class="flex-row">
                <div class="flex-col-md-8 flex-cc">
                    <div class="w-75 pd-tb-40">
                        <h2 class="edit-item edit-content bold-3 verdeScuro" data-sandboxid="tmp-rgYUk0">Sei un'Azienda o un Professionista? Diventa nostro cliente business!</h2>
                        <p class="fs24 edit-item edit-content verdeScuro" data-sandboxid="tmp-rgYUk0">CalcoloUsuraBancaria.it e TuttoVisure.it in un'unica piattaforma web di servizi professionali a valore aggiunto.</p>




                        {#<p class="edit-item edit-content" data-sandboxid="tmp-rgZKU2">
                        </p><h4 class="fs18 bold-2 mr-0 edit-item edit-content" data-sandboxid="tmp-rgQa20">- OUPSUM DOLOR</h4>
                        <em class="fs12">&nbsp; &nbsp;Creative Director of Company</em>
                        <p class="edit-item edit-content" data-sandboxid="tmp-rgZKU3"></p>#}
                    </div>
                </div><!-- column -->

                <div class="flex-col-md-4">
                    <img src="{{ asset('assets/professionista-azienda.jpg')}}" class="img-responsive mr-t-40 edit-item" alt="" data-sandboxid="tmp-rgfGU0">
                </div><!-- column -->
                <div class="flex-col-md-12">
                    <p class="bold-1 fs20 mr-b-30 edit-item edit-content" data-sandboxid="tmp-rgZKU0">Scopri i vantaggi riservati per i nostri clienti business</p>

                    <p class="edit-item edit-content" data-sandboxid="tmp-rgZKU1">Chiedi informazioni per registrarti come nostro cliente business!</p>
                    <p class="edit-item edit-content" data-sandboxid="tmp-rgZKU1">Potrai usufruire di numerosi vantaggi ed offrire ai tuoi clienti tutti i servizi di CalcoloUsuraBancaria.it e di <a href="https://www.tuttovisure.it/professionisti" target="_blank" class="bold-4">TuttoVisure.it</a>, utilizzando un'unica piattaforma web a costi vantaggiosi.</p>

                    <hr class="dark mr-tb-30 edit-item" data-sandboxid="tmp-rgWN40">
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- / content-section -->


    <!-- Form section -->
    <h3 class="title medium bold-4 edit-item edit-content align-c" data-sandboxid="tmp-rgNJ20">Chiedi Informazioni</h3>

    <section class="form-section form-section-5 bg-gray sm-pd-reset sm-align-c edit-item" id="freetrial" data-sandboxid="tmp-rgT2c0">
        <div class="container">
            <div class="flex-row middle-md">

                <div class="flex-col-md-5">
                    <p class="title-sub small edit-item edit-content" data-sandboxid="tmp-rgUkB0">Compila il modulo di richiesta informazioni online o contatta il numero dedicato ai clienti business:<br><strong>06.62.28.38.50</strong><br>(attivo dal lunedì al venerdì dalle 9.00 alle 13.30 e dalle 14.30 alle 18.00).<br><br>Il nostro staff commerciale ti fornirà tutte le informazioni di cui hai bisogno, suggerendoti le soluzioni più vicine alle tue esigenze!</p>
                </div><!-- / column -->
                <div class="flex-col-md-6 flex-col-md-offset-1 align-c">

                    <div class="form-block mr-b-20 pd-40 brdColorGiallo bg-white bdr-1 rd-5 edit-item" data-sandboxid="tmp-rgkSF0">
                        <h6 class="fs20 bold-4 mr-b-30 edit-item edit-content" data-sandboxid="tmp-rgNJ21">Modulo di Contatto</h6>

                        {% include 'form/form-contatti.html.twig' with {form: form} %}

                    </div>
                </div>
            </div><!-- / column -->

            </div><!-- / row -->

    </section><!-- /.form-section -->

    <!-- extra-section -->
    <section class="extra-section extra-content2">
        <div class="container">
            <div class="flex-row middle-md">
                <div class="flex-col-md-12">
                    <div class="content">
                        <h3 class="title medium bold-4 edit-item edit-content align-c">Piattaforma OnLine e sconti fino al 50%</h3>
                        <p class="text mr-b-40">A disposizione per te, una piattaforma online autonoma da cui richiedere <strong>visure</strong>, <strong>certificati</strong>, <strong>indagini commerciali</strong>, <strong>servizi di marketing</strong> ed il <strong>servizio di calcolo di Usura Bancaria</strong>, con sconti che possono arrivare fino al 50% ed un servizio clienti business dedicato in grado di rispondere a tutte le tue esigenze.
                            <br>
                            Il conto prepagato che attiveremo per te ti consentirà di decidere liberamente quando e quanto ricaricare, senza obblighi di ricarica periodica né spese di attivazione o gestione del profilo b2b.
                            <br><br>
                            Qualora avessi delle esigenze particolari, i nostri commerciali sapranno elaborare per te preventivi e consulenze mirate molto vantaggiose.
                            <br><strong>Mettiti in contatto con noi!</strong>
                        </p>
                    </div>
                </div><!-- / column -->
            </div><!-- / row -->
        </div><!-- / container -->
    </section><!-- / extra-section -->









    <!-- Footer section -->
    {% include 'footer.html.twig' %}
    <!-- ./Footer section -->

</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}
</body>
</html>