<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcolo Usura Bancaria: Come Funziona</title>
    <meta name="description" content="Recupera i Tuoi soldi: calcola in poche mosse quanto puoi riprendere dalla tua banca! Il nostro esperto sarà sempre a tua disposizione per darti assistenza.">
    <meta name="keywords" content="usura bancaria, illeciti bancari, anatocismo bancario, analisi econometrica">
    <meta name="robots" content="index,follow">
    <!--pageMeta-->

    <!-- Lib CSS -->
    <link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
<div id="page" data-linkscroll="y">
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}



    <!-- Header -->
    <header class="pghead-section pghead-section1 bg-verde-scuro edit-item pd-tb-10" data-sandboxid="tmp-rgyQh0">
        {#<div class="bg-section full-wh bg-cc bg-cover edit-item" data-bg="images/bg1.jpg" data-sandboxid="tmp-rgNhx0" style="background-image: url(&quot;images/bg1.jpg&quot;);"></div>#}
        <div class="container typo-light">
            <div class="pg-path fs11 float-right">
                <a href="/" class="edit-item edit-content" data-sandboxid="tmp-rgMQy0">Home</a>
                <b> / </b>
                <a href="{{ path('qm_usurabancaria_come_funziona') }}" class="edit-item edit-content" data-sandboxid="tmp-rgMQy1">Come Funziona</a>
            </div>
            <h1 class="title edit-item edit-content" data-sandboxid="tmp-rgVNR0">Come Funziona</h1>


        </div>
    </header><!-- / Header -->




    <!-- Features -->
    <section class="feature-section feature-section-1 edit-item" data-sandboxid="tmp-rgEaz0">
        <div class="container">
            <h2 class="title edit-item edit-content" data-sandboxid="tmp-rgWSy0">Recupera i Tuoi soldi</h2>
            <p class="title-sub edit-item edit-content" data-sandboxid="tmp-rg8mg0">Calcola in poche mosse quanto puoi recuperare dalla tua banca!<br>Il nostro esperto sarà sempre a tua disposizione.


            </p>
            <hr class="mr-tb-40 edit-item" data-sandboxid="tmp-rgzWN0">

            <div class="row feature-wrp eqh fs-equalize-element">
                <div class="col-md-6 img edit-item h214px" data-sandboxid="tmp-rg9gw0">
                    <i class="fa fa-check-square-o cm-item edit-item" data-sandboxid="tmp-rgMSD0"></i>
                </div>
                <div class="col-md-6 h214px">
                    <div class="info edit-item" data-sandboxid="tmp-rgC160">
                        <h2 class="hd hd-3 edit-item edit-content" data-sandboxid="tmp-rgWSy1">Compila il modulo online</h2>
                        <p class="sub-txt edit-item edit-content" data-sandboxid="tmp-rg8mg1">Inserisci i tuoi dati nel modulo online, ti verranno richieste poche informazioni sui tuoi rapporti con Banche e Finanziarie. Potremo così elaborare una prima analisi sintetica.</p><a href="{{ path('qm_usurabancaria_calcola_subito') }}" class="edit-item edit-content btn btn-primary" data-sandboxid="tmp-rgrxk6">Calcola Ora <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div><!-- /.feature-wrp -->
            <hr>
            <div class="row feature-wrp eqh fs-equalize-element">
                <div class="col-md-6 col-md-push-6 img edit-item h214px" data-sandboxid="tmp-rg9gw1">
                    <i class="fa fa-id-card-o cm-item edit-item" data-sandboxid="tmp-rgMSD1"></i>
                </div>
                <div class="col-md-6 col-md-pull-6 h214px">
                    <div class="info edit-item" data-sandboxid="tmp-rgC161">
                        <h2 class="hd hd-3 edit-item edit-content" data-sandboxid="tmp-rgWSy2">Consulta l'esperto</h2>
                        <p class="sub-txt edit-item edit-content" data-sandboxid="tmp-rg8mg2">Con i dati che avrai fornito online, il nostro esperto si metterà in contatto con te per illustrarti gli step da seguire e le soluzioni possibili.</p>
                    </div>
                </div>
            </div><!-- /.feature-wrp -->
            <hr>
            <div class="row feature-wrp eqh fs-equalize-element">
                <div class="col-md-6 img edit-item h214px" data-sandboxid="tmp-rg9gw2">
                    <i class="fa fa-file-text-o cm-item edit-item" data-sandboxid="tmp-rgMSD2"></i>
                </div>
                <div class="col-md-6 h214px">
                    <div class="info edit-item" data-sandboxid="tmp-rgC162">
                        <h2 class="hd hd-3 edit-item edit-content" data-sandboxid="tmp-rgWSy3">Raccogli la documentazione</h2>
                        <p class="sub-txt edit-item edit-content" data-sandboxid="tmp-rg8mg3">Il consulente ti assisterà anche nel recupero dei documenti necessari per elaborare l'Analisi Econometrica.<br>Niente paura: si tratta di pochi documenti già in tuo possesso!</p>
                    </div>
                </div>
            </div><!-- /.feature-wrp -->
            <hr>
            <div class="row feature-wrp eqh fs-equalize-element">
                <div class="col-md-6 col-md-push-6 img edit-item h214px" data-sandboxid="tmp-rg9gw1">
                    <i class="fa fa-calculator cm-item edit-item" data-sandboxid="tmp-rgMSD1"></i>
                </div>
                <div class="col-md-6 col-md-pull-6 h214px">
                    <div class="info edit-item" data-sandboxid="tmp-rgC161">
                        <h2 class="hd hd-3 edit-item edit-content" data-sandboxid="tmp-rgWSy2">Conosci l'importo recuperabile</h2>
                        <p class="sub-txt edit-item edit-content" data-sandboxid="tmp-rg8mg2">L'esperto che ti fornirà l'Analisi Econometrica completa si interfaccerà con te per farti sapere quali somme puoi recuperare dalla tua banca.</p>
                    </div>
                </div>
            </div><!-- /.feature-wrp -->
            <hr>
            <div class="row feature-wrp eqh fs-equalize-element">
                <div class="col-md-6 img edit-item h214px" data-sandboxid="tmp-rg9gw2">
                    <i class="fa fa-eur cm-item edit-item" data-sandboxid="tmp-rgMSD2"></i>
                </div>
                <div class="col-md-6 h214px">
                    <div class="info edit-item" data-sandboxid="tmp-rgC162">
                        <h2 class="hd hd-3 edit-item edit-content" data-sandboxid="tmp-rgWSy3">Recupera i Tuoi Soldi</h2>
                        <p class="sub-txt edit-item edit-content" data-sandboxid="tmp-rg8mg3">Assistito dal nostro consulente, richiedi in via stragiudiziale al tuo istituto di credito la restituzione degli importi dovuti.</p>
                    </div>
                </div>
            </div><!-- /.feature-wrp -->
            <hr>
            <div class="row feature-wrp eqh fs-equalize-element">
                <div class="col-md-6 col-md-push-6 img edit-item h214px" data-sandboxid="tmp-rg9gw1">
                    <i class="fa fa-gavel cm-item edit-item" data-sandboxid="tmp-rgMSD1"></i>
                </div>
                <div class="col-md-6 col-md-pull-6 h214px">
                    <div class="info edit-item" data-sandboxid="tmp-rgC161">
                        <h2 class="hd hd-3 edit-item edit-content" data-sandboxid="tmp-rgWSy2">Fatti assistere dal nostro studio legale</h2>
                        <p class="sub-txt edit-item edit-content" data-sandboxid="tmp-rg8mg2">I nostri legali rimangono a tua disposizione per avere assistenza sia in fase di trattativa con la banca per la richiesta di rimborso, sia nell'eventuale procedura giudiziale.</p>
                    </div>
                </div>
            </div><!-- /.feature-wrp -->



        </div><!-- /.container -->
    </section><!-- /.feature-section -->

    <!-- Call to action-section -->
    <section class="calltoaction-section calltoaction-section-2 edit-item" data-sandboxid="tmp-rgiJS0">
        <div class="container">
            <div class="flex-row middle-md gt30">
                <div class="flex-col-md-7 l animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <h3 class="title medium edit-item edit-content" data-sandboxid="tmp-rgFiD0"><strong>Recupera i Tuoi soldi!</strong><br>Richiedi l'Analisi Econometrica e fatti assistere dal nostro esperto.</h3>
                </div>
                <div class="flex-col-md-3 r animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <span class="fs20">Chiedi all'esperto</span><br>
                    <span class="fs30"><i class="fa fa-phone edit-item" data-sandboxid="tmp-rgFOx0"></i> 06.62.28.86.11</span>
                </div>
                <div class="flex-col-md-2 r align-c animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <a href="{{ path('qm_usurabancaria_calcola_subito') }}" class="btn btn-default btn-lg popup-contact edit-item edit-content" data-sandboxid="tmp-rgFJb0">Calcola Ora!</a>
                </div>
            </div>
        </div>
    </section><!-- /.calltoaction-section -->





    <!-- Footer section -->
    {% include 'footer.html.twig' %}
    <!-- ./Footer section -->

</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}
</body>
</html>