<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcolo Usura Bancaria - Condizioni generali</title>
    <meta name="robots" content="no index,follow">


    <!--pageMeta-->
    {#<script src="bundle.js"><#}{##}{#/script>#}
    <!-- Lib CSS -->
    <link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>


</head>
<body>
<div id="page" data-linkscroll="y">
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}

    <!-- Header -->
    <header class="pghead-section pghead-section1 bg-verde-scuro edit-item pd-tb-10" data-sandboxid="tmp-rgyQh0">
        {#<div class="bg-section full-wh bg-cc bg-cover edit-item" data-bg="images/bg1.jpg" data-sandboxid="tmp-rgNhx0" style="background-image: url(&quot;images/bg1.jpg&quot;);"></div>#}
        <div class="container typo-light">
            <div class="pg-path fs11 float-right">
                <a href="/" class="edit-item edit-content" data-sandboxid="tmp-rgMQy0">Home</a>
                <b> / </b>
                <a href="#" class="edit-item edit-content" data-sandboxid="tmp-rgMQy1">Condizioni Generali</a>
            </div>
            <h1 class="title edit-item edit-content" data-sandboxid="tmp-rgVNR0">Condizioni Generali</h1>
        </div>
    </header><!-- / Header -->



    <!-- extra-section -->
    <section class="extra-section extra-content1 edit-item" data-sandboxid="tmp-rgLWI0">
        <div class="container">
            <p class="fs14 mr-0 edit-item edit-content" data-sandboxid="tmp-rgkvu0">Revisione del 16/12/2016

                <strong>Condizioni Generali di Utilizzo di calcolousurabancaria.it</strong><br><br>

                Benvenuto sul nostro sito web www.calcolousurabancaria.it, attraverso cui puoi ottenere atti e documenti evitando file negli uffici, e risparmiando così il tuo prezioso tempo.
                Il sito www.calcolousurabancaria.it ed i servizi in esso proposti sono forniti da IWS srl, società di diritto italiano con sede legale in 00165 Roma, Via Anastasio II, 442 e sede operativa in Via Emanuele Pessagno, 11 - 00122 - Roma; codice fiscale-partita Iva numero 14071321005.
                <br><br>
                Per accedere ai servizi forniti da www.calcolousurabancaria.it devi essere maggiorenne o comunque avere capacità di agire ai sensi di legge. Se richiedi i servizi forniti da www.calcolousurabancaria.it per conto di un’azienda, devi essere provvisto dei necessari poteri di rappresentanza dell'azienda.
                Cliccando il tasto “Avanti” da www.calcolousurabancaria.it, confermi di accettare le presenti Condizioni Generali di Utilizzo dei servizi di www.calcolousurabancaria.it.
                Per eventuali richieste di informazioni o reclami, puoi scrivere al seguente indirizzo di posta elettronica: info@calcolousurabancaria.it.
                <br><br>
                Condizioni Generali di Utilizzo dei servizi di CalcoloUsuraBancaria.it
                <br><br>
                1. Disciplina contrattuale  e normativa applicabile
                <br><br>
                1.1 Compilando i form di richiesta e cliccando su “Continua” o su “Avanti”, accedi ai servizi presenti sul sito web www.calcolousurabancaria.it, accettando in tal modo che i rapporti fra te e IWS srl siano regolati dalle presenti Condizioni Generali di Utilizzo. Le Condizioni Generali di Utilizzo costituiscono parte integrante del contratto di fornitura di servizi concluso tra te in quanto utente e IWS srl. Ti invitiamo, in qualità di cliente consumatore (di seguito:”cliente”) o in qualità di cliente professionale (professionista, impresa, ditta, associazione, di seguito: “cliente b2b”) quindi a leggere con attenzione le presenti Condizioni Generali di Utilizzo e a conservarne copia sia in formato cartaceo, sia su supporto informatico.
                <br><br>
                1.2 L’utilizzo dei servizi forniti da www.calcolousurabancaria.it è subordinato al rispetto delle presenti Condizioni Generali di Utilizzo e delle condizioni di consegna e pagamento, pubblicate di volta in volta sul nostro sito, come pure al rispetto di qualsiasi ulteriore regola, linea guida o indicazione d’uso di volta in volta pubblicata sul nostro sito e relativa specificatamente a servizi o prestazioni particolari.
                <br><br>
                1.3 Ti ricordiamo che IWS srl si riserva il diritto di cambiare, modificare, ampliare, eliminare o aggiornare, a propria esclusiva discrezione ed in qualsiasi momento, in tutto o in parte, le presenti Condizioni Generali di Utilizzo. Ti invitiamo pertanto ad accedere con regolarità a questa sezione del nostro sito, per verificare la pubblicazione delle più recenti ed aggiornate Condizioni Generali di Utilizzo. In questa stessa pagina, troverai l’indicazione temporale della revisione delle condizioni contenute in questo documento.
                <br><br>
                1.4 Ti facciamo presente che la compravendita di servizi quali quelli forniti da www.calcolousurabancaria.it, effettuata per il tramite di mezzi elettronici, è disciplinata dal Decreto Legislativo 9 aprile 2003 n. 70 in materia di commercio elettronico e dal Decreto Legislativo 6 settembre 2005 n. 206 in materia di vendite a distanza con i consumatori.
                <br><br>
                2. Conclusione del contratto
                <br><br>
                2.1 I servizi pubblicati sulle pagine di www.calcolousurabancaria.it rappresentano ciascuno un invito rivolto a te, in quanto utente, a formulare a www.calcolousurabancaria.it la tua richiesta d’ordine di uno specifico servizio. La richiesta d'ordine da te inoltrata a www.calcolousurabancaria.it ha valore di proposta contrattuale, che presuppone la tua completa ed integrale conoscenza e accettazione delle presenti Condizioni Generali di Utilizzo.
                <br><br>
                2.2 In quanto utente, ti ricordiamo che puoi inoltrare la tua richiesta d’ordine sia per il tramite del nostro sito web compilando l'apposito modulo online o, in alternativa, telefonicamente ai recapiti telefonici pubblicati sul nostro sito.
                <br><br>
                3. Conferimento di dati a CalcoloUsuraBancaria.it - Delega - Documentazione Integrativa - Buono
                <br><br>
                3.1 I servizi forniti da www.calcolousurabancaria.it sono tutti a pagamento. Pertanto, al momento dell’acquisto, sarai tenuto a fornire i seguenti tuoi dati personali:
                -il tuo nome ed il tuo cognome, ovvero, se agisci in veste professionale, la denominazione sociale completa della tua azienda o della tua ditta;
                -il tuo indirizzo, ovvero la sede legale della tua azienda o della tua ditta;
                -il tuo codice fiscale, ovvero la partita Iva della tua azienda o della tua ditta;
                -un tuo indirizzo di posta elettronica;
                -un tuo recapito telefonico
                <br><br>
                3.2 Il conferimento da parte tua dei suddetti dati è condizione necessaria, al fine di consentire a IWS srl di adempiere ai propri obblighi legali di corretta fatturazione. In caso tu non intenda conferire a www.calcolousurabancaria.it tali tuoi dati, www.calcolousurabancaria.it si troverà nella impossibilità di poter erogare i servizi da te richiesti.
                <br><br>
                3.3 Oltre ai dati sopra specificati, anche in sede di inoltro di una tua eventuale richiesta d’ordine www.calcolousurabancaria.it potrà richiedere ulteriori tuoi dati quali, tra gli altri, un tuo recapito telefax, numero di cellulare o telefono fisso. In linea di principio, il conferimento a www.calcolousurabancaria.it di tali tuoi ulteriori dati non è di per sé necessario ai fini dell’espletamento dei servizi da parte di www.calcolousurabancaria.it. Tuttavia, tenuto conto della natura dei servizi forniti da www.calcolousurabancaria.it e della necessità, a seconda delle circostanze, di verificare con te la correttezza dei dati da te forniti, il mancato conferimento di un tuo recapito telefonico diretto potrebbe comportare, da parte di www.calcolousurabancaria.it, la non accettazione della richiesta d’ordine da te effettuata.
                <br><br>
                3.4 In funzione di quanto sopra, nel momento in cui intendi avvalerti dei servizi di www.calcolousurabancaria.it ti impegni espressamente a comunicare a www.calcolousurabancaria.it dati corretti, aggiornati e veritieri relativi ad indicazioni anagrafiche, recapiti personali ed, in generale, alle altre informazioni utili all'evasione della tua richiesta d’ordine da parte di www.calcolousurabancaria.it, tenuto conto dell'impossibilità di www.calcolousurabancaria.it di verificarne l'esattezza alla luce della normale presenza di omonimie e identità di indirizzi, nonché di errori e ritardi da parte delle singole autorità competenti, preposte a registrare e/o comunicare le variazioni ufficiali dei dati costituenti l'oggetto del servizio da te richiesto.
                <br><br>
                3.5 Per l’ottenimento del/i documento/i oggetto di una tua richiesta d’ordine sarà tuo onere, ogni qualvolta si dovesse rendere necessario ai fini del corretto espletamento dei nostri servizi, inviare a www.calcolousurabancaria.it idonea delega scritta conforme al testo di volta in volta messo a disposizione sul nostro sito web, in relazione al tipo di servizio da te richiesto. Tale delega dovrà essere debitamente sottoscritta con firma leggibile dall’avente diritto e corredata dalla fotocopia leggibile in tutte le sue parti di un suo documento d’identità in corso di validità. www.calcolousurabancaria.it non darà corso alla richiesta del documento oggetto di una tua richiesta d’ordine sino al ricevimento della predetta delega o di altra documentazione preliminare utile all'espletamento del servizio.
                <br><br>
                3.6 In ogni caso, ti specifichiamo che www.calcolousurabancaria.it potrà correttamente accettare la tua richiesta d’ordine solo una volta che abbia verificato l'avvenuto pagamento degli importi specifici di ciascun servizio da te richiesto. Pertanto, qualora tra le modalità di pagamento indicate da www.calcolousurabancaria.it nell’ambito di un servizio vi sia il bonifico bancario, il bollettino di conto corrente postale o altro, e tu abbia scelto una tra queste modalità di pagamento, il team operativo di calcolousurabancaria.it ti erogherà il relativo servizio solo nel momento in cui riceverà da te, via fax o per posta elettronica, copia dell'attestazione dell'avvenuto effettivo pagamento con in evidenza il relativo numero di CRO o di VCY, o altro eventuale numero identificativo. A campione e senza preavviso, tali ricevute possono essere poste all’attenzione dei nostri uffici amministrativi per verificarne l’avvenuto accredito prima di poter autorizzare l’evasione della pratica.
                <br><br>
                3.7 A seconda del tipo di servizio da te richiesto, il team operativo di calcolousurabancaria.it potrebbe trovarsi nella necessità di richiederti ulteriori documenti e/o informazioni, senza i quali potrebbe trovarsi nella condizione di non riuscire ad erogare il servizio da te richiesto. Ai fini della richiesta di tale documentazione integrativa, calcolousurabancaria.it ti farà pervenire non più di 2 (due) messaggi di richiesta di documentazione integrativa.
                <br><br>
                3.8 Nel caso in cui siano decorsi 2 (due) giorni dall’invio dell’ultima richiesta di documentazione integrativa da parte di www.calcolousurabancaria.it e tale documentazione non sia pervenuta, calcolousurabancaria.it non sarà in condizione di dare esecuzione alla tua richiesta d’ordine. In tal caso, relativamente all’importo da te già corrisposto a www.calcolousurabancaria.it per la richiesta d’ordine che www.calcolousurabancaria.it non ha potuto eseguire per mancanza di documentazione integrativa o altro, www.calcolousurabancaria.it creerà automaticamente a tuo favore un buono, da utilizzarsi entro 12 mesi dalla sua emissione, valido per acquistare qualsiasi servizio fornito da www.calcolousurabancaria.it. Il valore del buono è l’equivalente di quanto già corrisposto dall’utente per la richiesta d’ordine che www.calcolousurabancaria.it non ha potuto eseguire per le suddette ragioni, dedotto del costo delle attività già svolte da www.calcolousurabancaria.it, determinato nel 10% (dieci percento) di detti importi già corrisposti dall’utente e di eventuali costi sostenuti da IWS srl come anticipi corrisposti ad enti o autorità competenti. Dell’emissione di ciascun buono a tuo favore ti sarà data direttamente comunicazione dal team operativo di calcolousurabancaria.it.
                <br><br>
                3.9 Il team di calcolousurabancaria.it provvederà ad emettere un buono a tuo favore anche nel caso in cui, presa in carico la tua richiesta d’ordine ed effettuate le dovute verifiche presso gli enti o le autorità competenti, nulla risultasse presso i loro archivi, e qualora tali enti o autorità non fornissero a www.calcolousurabancaria.it alcuna comunicazione comprovante l’esito negativo della ricerca stessa. In questi casi, www.calcolousurabancaria.it provvederà a darti relativa comunicazione, informandoti altresì dell’emissione a tuo favore di un buono dedotto delle attività svolte e delle spese di ricerca sino a quel momento sostenute da www.calcolousurabancaria.it. Resta peraltro inteso che nessun buono sarà emesso a tuo favore qualora gli enti o le autorità competenti dovessero rilasciare a calcolousurabancaria.it una comunicazione scritta di esito negativo o di non esistenza delle informazioni/certificato da te richiesto. In tali circostanze, infatti, la tua richiesta d’ordine dovrà intendersi correttamente evasa e www.calcolousurabancaria.it provvederà a mettere a tua disposizione la documentazione comprovante l’esito negativo della richiesta.
                <br><br>
                4. Prezzi - Modalità di Pagamento - Fatturazione - Tempistiche di evasione
                <br><br>
                4.1 I prezzi dei singoli servizi offerti da www.calcolousurabancaria.it variano in funzione del tipo di attività richiesta, e sono quelli che di volta in volta analiticamente vengono evidenziati sul nostro sito web o sui siti web dello stusse gruppo societario quale ad esempio www.tuttovisure.it, nell’ambito di ciascuna offerta specifica. Tali prezzi sono da considerarsi al netto di eventuali imposte di bollo, diritti di segreteria e/o imposte o tasse altrimenti denominate, come pure al netto dei costi di consegna, di eventuali oneri di incasso e/o eventuali dazi doganali in caso di consegna all’estero, anch’essi tutti a carico dell’utente.
                I prezzi indicati nei form sono composti dagli eventuali bolli/diritti richiesti dall’Ente (esempio: Catasto, Conservatoria, Pra, etc.) che emette il documento (visura, certificato, etc.) e dall’attività di recupero e/o di fornitura, del documento richiesto, da parte di calcolousurabancaria.it o tuttovisure.it come da autorizzazione Tulps QHAY/2013/14 Protocollo QH/2013/7561. Il molti casi quindi, dovendo sostenere il servizio per il recupero del documento, il cliente potrebbe recarsi presso l’ente di competenza autonomante e reperirlo ad un costo minore.
                <br><br>
                4.2 Potrai effettuare i tuoi pagamenti secondo le modalità che di volta in volta ti verranno evidenziate sul nostro sito web. In ogni caso, ti preghiamo di leggere attentamente quanto segue.
                <br><br>
                4.2.1 Pagamento mediante carta di credito - Se intendi pagare mediante l’utilizzo di carte di credito, la relativa transazione avverrà attraverso la piattaforma sicura di Banca Sella Spa, che garantisce direttamente la segretezza dei dati inseriti e la sicurezza della transazione.
                <br><br>
                4.2.2 Pagamento mediante bonifico bancario - Il pagamento secondo questa modalità va effettuato alle coordinate IBAN di volta in volta comunicate dopo l’invio dell’ordine, intestato a IWS srl, Causale: tuo nome e cognome e numero d’ordine assegnato.
                Come specificato in precedenza, ti ricordiamo che www.calcolousurabancaria.it potrà correttamente accettare la tua richiesta d’ordine solo dopo aver avuto la certezza dell’avvenuto pagamento degli importi specifici di ciascun servizio da te richiesto. Pertanto, qualora tra le modalità di pagamento indicate da www.calcolousurabancaria.it per la tua richiesta d’ordine vi sia il bonifico bancario e tu abbia prescelto tale modalità di pagamento, www.calcolousurabancaria.it sarà in grado di erogarti il relativo servizio solo nel momento in cui riceverà da te, via fax o per posta elettronica, copia dell'attestazione dell'avvenuto effettivo pagamento, con in evidenza il relativo numero di CRO. Precisiamo che, nel caso in cui non sia possibile verificare l’accredito, verrà attesa l’effettiva contabilizzazione in conto.
                <br><br>
                4.2.3 Pagamento mediante bollettino postale - Il bollettino postale, nei servizi per i quali è prevista tale modalità di pagamento, dovrà essere effettuato al numero di conto corrente postale comunicato dal nostro staff ed intestato a IWS srl, Causale: tuo nome e cognome.
                Anche nel caso del pagamento tramite bollettino postale, ti ricordiamo che www.calcolousurabancaria.it potrà correttamente accettare la tua richiesta d’ordine solo avuta la certezza dell’avvenuto pagamento degli importi specifici di ciascun servizio da te richiesto. Pertanto, qualora tra le modalità di pagamento indicate da www.calcolousurabancaria.it per la tua richiesta d’ordine vi sia il bollettino postale e tu abbia prescelto tale modalità di pagamento, www.calcolousurabancaria.it sarà in grado di erogarti il relativo servizio solo nel momento in cui riceverà da te, via fax o per posta elettronica, copia dell'attestazione dell'avvenuto effettivo pagamento che evidenzi il relativo numero di VCY. Precisiamo che, nel caso in cui non sia possibile verificare l’accredito, verrà attesa l’effettiva contabilizzazione in conto.
                <br><br>
                4.2.4 Pagamento tramite PayPal - La modalità di pagamento tramite PayPal prevede l'utilizzo di un conto PayPal. Sul sito di PayPal sono disponibili maggiori informazioni relativamente a questa modalità di pagamento.
                <br><br>
                4.2.5 Pagamento a mezzo carta di credito attraverso la piattaforma Gestpay - Una volta scelta questa modalità, l’utente è automaticamente reindirizzato alla piattaforma protetta Gestpay di proprietà di Banca Sella (info su: https://www.gestpay.it/gestpay/sicurezza/index.jsp).
                Tutte le informazioni relative alla carta di credito non vengono gestite da IWS srl ma trattate esclusivamente dalla piattaforma. In questo caso, sarà la banca stessa ad informare la nostra società dell’avvenuto accredito.
                <br><br>
                4.3 La fattura ti sarà recapitata in formato elettronico all'indirizzo di posta elettronica da te specificato nei tuoi dati inseriti nel nostro sito web. In caso di pagamento tramite carta di credito o tramite PayPal, l'emissione della relativa fattura è immediata e contestuale al pagamento. In tutti gli altri casi, la fattura ti verrà emessa nel momento in cui www.calcolousurabancaria.it riceverà da te, via fax o per posta elettronica, copia dell'attestazione dell'avvenuto effettivo pagamento evidenziante il relativo numero di CRO o di VCY.
                <br><br>
                4.4 Tutte le pratiche sono evase durante l’orario lavorativo, dal lunedì al venerdì, dalle ore 9.00 alle ore 19.00, esclusi i festivi. Le richieste pervenute fuori orario lavorativo sono prese in carico a partire dal primo giorno lavorativo successivo secondo l’ordine di arrivo.
                <br><br>
                5. Diritto di recesso ai sensi del Codice del Consumo
                <br><br>
                5.1 Qualora tu, in quanto utente, intenda utilizzare i servizi di www.calcolousurabancaria.it al di fuori della tua veste professionale e per scopi non rientranti in essa, bensì in qualità di consumatore (così come definito dal Decreto Legislativo n. 206 del 6 settembre 2005 Codice del Consumo), ti ricordiamo che, una volta ricevuta la conferma di presa in carico, ai sensi dell’art. 64 del Codice del Consumo e successive modifiche, potrai recedere dal contratto così concluso (senza alcuna penalità e senza specificarne il motivo) entro il termine di 14 giorni di calendario dalla ricezione della suddetta conferma di presa in carico, tramite l’invio di una comunicazione scritta a mezzo raccomandata a.r. da indirizzarsi a: IWS srl, Via Emanuele Pessagno 11 - 00122 Roma. Potrai anticipare tale comunicazione, entro lo stesso termine, anche mediante telegramma, telex, posta elettronica e fax, a condizione che sia confermata mediante raccomandata a.r. entro le successive 48 ore.
                <br><br>
                5.2 Ti facciamo tuttavia presente che, ai sensi dell’art. 48 del Codice del Consumo, il diritto di recesso è escluso (e quindi non potrai esercitarlo) una volta che www.calcolousurabancaria.it abbia già eseguito le prestazioni da te richieste con la Richiesta d’Ordine prima dello scadere del SUDDETTO termine di 14 giorni di calendario.
                <br><br>
                5.3 Nei casi descritti dai punti 5.1 e 5.2 verrà proposta, a titolo di rimborso, l’emissione di un buono pari all’importo totale sostenuto, utile per l’acquisto di qualsiasi dei servizi offerti sul sito web www.calcolousurabancaria.it senza limiti di tempo. Qualora tale buono non dovesse venire accettato, IWS srl provvederà al rimborso della pratica entro 30 giorni dalla richiesta.  Verrà trattenuto un importo pari al 10% a titolo di forfettario rimborso delle spese amministrative, al netto della anticipazioni di marche da bollo, diritti di segreteria ed altre spese documentali eventualmente sostenute.
                <br><br>
                6 - Analisi degli illeciti bancari
                <br><br>
                6.1 L’analisi permette al Cliente di verificare il rispetto delle condizioni contrattuali applicate dagli istituti di credito o dalle agenzie di riscossione, l’eventuale superamento delle soglie d’usura, l’eventuale applicazione di spese illegittime e/o la presenza di interessi anatocistici. L’analisi è costruita sulla base dei documenti e delle informazioni fornite dal Cliente; tale ricostruzione documentale non è una perizia e può essere utilizzata esclusivamente per un tentativo di recupero bonario con l’istituto di credito. Vista la complessità della materia il Cliente è informato che l’analisi sarà svolta con il preciso scopo di evidenziare il maggior importo recuperabile adottando criteri quanto più favorevoli al Cliente.
                6.2 Fornitura dei documenti necessari e tempistica​
                il Cliente è tenuto a fornire tutta la documentazione che la IWS srl richiederà per il corretto svolgimento della pratica (eventuali ricevute di pagamento, estratti conto, ecc.). Le tempistiche necessarie all’evasione del documento di analisi sono puramente indicative e dipendono dalla complessità della richiesta.
                6.3 Limitazioni di responsabilità​:
                la società IWS srl non è responsabile di eventuali ritardi nella consegna del documento. Il Cliente manleva inoltre la società IWS srl da eventuali errori di calcolo, interpretazione o dagli usi che intenderà fare del documento rilasciato.
                6.4 Svolgimento del servizio​
                tutti i servizi sono svolti da IWS srl in ottemperanza a tutte le norme in materia e seguendo tutti i più attuali ed autorevoli orientamenti giurisprudenziali che, quando possibile, saranno indicati. Il servizio include una consulenza telefonica gratuita con il nostro studio legale e i tecnici. La IWS srl provvederà inoltre a predisporre la lettera a firma del Cliente per la richiesta di rimborso o risarcimento all’istituto di credito per l’eventuale tentativo bonario in via stragiudiziale. Qualora il tentativo bonario non dovesse andare a buon fine, non vi è alcun obbligo per il Cliente di rivolgersi alla nostra società per le successive fasi di mediazione obbligatoria o di giudizio; se il Cliente ne farà richiesta, la IWS srl provvederà, dopo aver valutato il caso e senza impegno, alla formulazione di un preventivo. Il Cliente presa visione di tutte le informazioni e della documentazione, potrà accettare il preventivo di volta in volta presentato dalla IWS srl. Da questo servizio rimangono sempre esclusi: a)i costi di recupero di eventuali documenti mancanti; b) gli eventuali costi relativi agli onorari di legali per l’assistenza richiesta dal cliente; c) le eventuali azioni stragiudiziali e di trattativa con le banche e/o finanziarie affidate alla nostra società o a professionisti da noi segnalati; d) quanto non espressamente indicato.
                <br><br>
                <br><br>
                7 - Recesso e sospensione
                <br><br>
                7.1 - Recesso di IWS srl<br>
                IWS srl avrà la facoltà di recedere unilateralmente e in qualsiasi momento dalle presenti Condizioni Generali così come da ciascun Contratto di Servizio, ovvero di sospendere unilateralmente ed in qualsiasi momento l'erogazione del relativo Servizio, comunicandolo, con almeno 10 (dieci) giorni di preavviso, a mezzo lettera raccomandata a.r. nei seguenti casi:
                <br>- per mutamenti, dovuti a leggi, regolamenti, atti amministrativi, interpretazioni giurisprudenziali o altro, della normativa vigente applicabile ai servizi oggetto del presente contratto che rendano impossibile, difficoltosa o eccessivamente onerosa la prosecuzione del rapporto;
                <br>- il Cliente dovesse essere posto in liquidazione ovvero sottoposto a qualsiasi tipo di procedura concorsuale giudiziale o stragiudiziale. In tal caso, il Cliente non avrà diritto di rimborso, indennizzo o risarcimento per le anticipazioni di cui alla clausola 6.2.3. precedente;
                <br>- inutilmente decorsi giorni 15 (quindici) dalla diffida ad adempiere inoltrata da IWS srl relativamente agli obblighi di pagamento del corrispettivo definiti come sopra e nei singoli Contratti di Servizio.
                <br>7.2 Recesso del cliente
                <br>Il cliente o il cliente b2b, avrà la facoltà di recedere unilateralmente e in qualsiasi momento dalle presenti Condizioni Generali così come da ciascun Contratto di Servizio, comunicandolo, con almeno 10 (dieci) giorni di preavviso, a mezzo lettera raccomandata a.r. a IWS srl, nei seguenti casi:
                per mutamenti dovuti a leggi, regolamenti, atti amministrativi, interpretazioni giurisprudenziali o altro, della normativa vigente applicabile al Servizio IWS/calcolousurabancaria.it che rendano impossibile o difficoltosa la prosecuzione del rapporto;
                IWS srl dovesse essere posta in liquidazione ovvero sottoposta a qualsiasi tipo di procedura consensuale giudiziale o stragiudiziale. In tal caso, IWS srl avrà diritto ai corrispettivi corrispondenti ai Servizi sino a detto momento fruiti con espressa esclusione di qualsiasi altro corrispettivo, indennizzo o risarcimento.
                nei casi descritti dall’art 5
                <br><br>
                8. Limitazione delle responsabilità di IWS srl
                <br><br>
                8.1 Salvo il dolo o la colpa grave, in nessun altro caso IWS srl, ovvero i suoi amministratori o dipendenti, potranno essere ritenuti in qualsiasi modo responsabili per qualsiasi lesione e/o danno di qualsivoglia genere o natura, in cui un utente del sito di www.calcolousurabancaria.it possa essere incorso, derivanti da:
                qualsiasi mancata prestazione, ovvero errore, omissione, interruzione, difetto, ritardo nell’operatività’ o nella trasmissione di dati o documenti, virus informatici, caduta di linea o di sistema (compresa la perdita di dati), nonché inaccuratezza delle informazioni;
                mancato rispetto dei termini di consegna pubblicati sul sito a titolo puramente indicativo;<br>
                l’utilizzo ovvero l’incapacità di utilizzare i servizi di www.calcolousurabancaria.it da parte dell’utente;<br>
                qualsiasi accesso non autorizzato, ovvero utilizzo non autorizzato dei server di IWS srl, ovvero di qualsiasi informazione in essi contenuta;
                qualsiasi baco, virus, cavallo di troia o simili, che possano essere trasmessi attraverso i servizi di www.calcolousurabancaria.it da parte di qualsiasi terzo
                <br><br>
                8.2 Senza in alcun modo limitare quanto precede, riguardo ai servizi forniti e/o ai materiali e/o ai contenuti dei servizi forniti, calcolousurabancaria.it limita nella massima misura consentita dalla legge qualsivoglia tipo di garanzia, sia espressa che implicita, riguardo i servizi forniti.
                <br><br>
                8.3 Inoltre, e senza limitazione alcuna di quanto precede, calcolousurabancaria.it non rilascia alcuna garanzia circa il fatto che i servizi possano corrispondere alle necessità o alle richieste dell’utente, in quanto gli stessi possono subire limitazioni ad opera di molteplici fattori, inclusi ritardi nell’aggiornamento dei dati da parte delle autorità competenti o i rischi intrinsecamente connaturati ad Internet.
                <br><br>
                8.4 Le tempistiche di consegna evidenziate sul nostro sito web hanno carattere puramente indicativo. calcolousurabancaria.it, pertanto, non garantisce che tali tempistiche vengano rispettate, non si assume responsabilità alcuna in caso di loro mancata osservanza.
                <br><br>
                8.5 Il cliente autorizza espressamente la IWS srl ad affidare la lavorazione di parte o di tutti i servizi affidati a terzi di fiducia della stessa IWS srl.
                <br><br>
                8.6 Salvo diversa indicazione da parte del cliente, tutti i servizi, report e visure sono inviati a mezzo email alla casella di posta elettronica comunicata dal cliente. Il cliente è l’unico responsabile della sua email e garantisce l’assoluta riservatezza delle comunicazioni e informazioni ricevute da IWS srl  a mezzo di tale casella mail.
                <br><br>
                9 - Dichiarazioni e garanzie
                <br><br>
                9.1 - Idoneità del cliente<br>
                Il  dichiara e garantisce: - di essere in possesso delle strutture e delle risorse, anche umane, necessarie al corretto uso del Servizio, di conoscere le caratteristiche del Servizio erogato ed avere la piena competenza e capacità tecnica e tecnologica per il corretto uso.
                <br>9.2 -  Utilizzo
                <br>Il cliente garantisce l'osservanza delle prescrizioni contenute nelle presenti Condizioni Generali nonché nei Contratti di Servizio; il cliente, altresì, si impegna ad utilizzare il Servizio esclusivamente in relazione all'ambito della propria attività se in veste professionale o per scopi strettamente personali se in veste di consumatore e comunque a non compiere alcun atto diretto a consentire a terzi l'utilizzo indebito del Servizio, volendo rimanere obbligato a risarcire il danno laddove ciò avvenga per proprio fatto/colpa anche omissivi.
                <br><br>
                10 - Riservatezza e non concorrenza<br>
                10.1 - Riservatezza<br>
                Il Cliente si impegna a tenere riservato il contenuto delle Condizioni Generali e del Contratto di Servizio. Il Cliente si impegna ad utilizzare in maniera riservata le informazioni ricevute da IWS srl nell'esecuzione dei Servizi, gli eventuali codici e le chiavi di accesso relativi ai Servizi, le informazioni sui metodi, sui programmi e/o sulle procedure e comunque qualunque altro tipo di documentazione contrattuale, tecnica o illustrativa relativa ai Servizi e a non divulgare tali informazioni a terzi per qualsiasi finalità per la durata delle presenti Condizioni Generali e relativi Contratti di Servizio nonché anche successivamente alla cessazione degli effetti degli stessi.
                <br>10.2 - Riservatezza del terzo
                <br>Il Cliente garantisce, assumendosene in proprio la responsabilità anche ai fini del risarcimento del danno, la riservatezza e la non memorizzazione dei dati eventualmente trasmessi da IWS srl al Cliente in esecuzione del Servizio, qualora il Cliente affidi ad un soggetto terzo, la gestione in tutto o in parte di quanto necessario per il Cliente stesso al fine di usufruire dei Servizi (a titolo esemplificativo, ma non esaustivo, nel caso in cui il Cliente si avvalga di una società informatica esterna o un centro servizi esterno). In tal caso il Cliente dovrà comunicare in via preventiva e per iscritto a IWS srl il nominativo del terzo di cui intende avvalersi
                <br>10.3 - Effetti della violazione
                <br>La violazione da parte del Cliente di quanto previsto agli articoli 9.1, 9.2 che precedono, potrà comportare da parte di IWS srl, la risoluzione automatica delle presenti Condizioni Generali e dei Contratti di Servizio, ai sensi dell'art 1456 c.c. e la conseguente sospensione immediata della fornitura dei Servizi, salvo ed impregiudicato il risarcimento di tutti i danni diretti ed indiretti patiti e patiendi.
                <br>10.4 Autorizzazione
                <br>Il Cliente autorizza IWS srl a comunicare a terzi che il Cliente stesso è utilizzatore dei Servizi oggetto di questo accordo.
                <br><br>
                <br><br>
                11 - Proprietà intellettuale e industriale
                <br>Tutte le informazioni, standard tecnici, specifiche e procedure fornite da IWS srl sono di esclusiva proprietà di quest'ultimo. Nessuna licenza di marchio o di sfruttamento di brevetto, né di altri diritti di proprietà industriale o intellettuale, inerenti le specifiche tecniche e al know how fornito, è concessa al cliente con la sottoscrizione delle presenti Condizioni Generali, fatto salvo diversa volontà contrattuale pattuita dalle Parti.
                <br>11.1 Obbligo di restituzione
                <br>Il Cliente b2b è tenuto a restituire tempestivamente a IWS srl, all'atto della cessazione del rapporto o al termine dell'esecuzione della prestazione, tutte le informazioni, i documenti, i tracciati, le specifiche di proprietà di IWS srl, salvo che quest'ultima vi rinunci in tutto od in parte: in tal caso il Cliente b2b procederà autonomamente alla distruzione degli stessi, dandone avviso a IWS srl.
                <br><br>
                12 -  Registrazione
                <br>Ai fini della eventuale registrazione si dichiara che i corrispettivi previsti nel/i Contratto/i di Servizio sono soggetti a IVA e che tutte le prestazioni ivi contemplate avranno luogo in regime di IVA. Le spese di eventuale registrazione del Contratto di Servizio e delle presenti Condizioni Generali saranno a carico della parte che con la sua negligenza renderà necessaria la registrazione medesima. Altri oneri fiscali inerenti e conseguenti alle presenti Condizioni Generali e a ciascun Contratto di Servizio sono a carico dei contraenti come per legge.
                <br><br>
                13 - Comunicazioni
                <br>Qualsiasi comunicazione pretesa o consentita dalle disposizioni delle presenti Condizioni Generali, così come del Contratto di Servizio, dovrà essere effettuata per iscritto e si intenderà efficacemente e validamente eseguita al ricevimento della stessa, se effettuata per lettera o telegramma o telefax o comunicazione elettronica certificata (PEC), sempre che sia indirizzata ai recapiti che le Parti potranno reciprocamente comunicare l'una all'altra successivamente, in conformità alle precedenti disposizioni. Resta, inteso che presso gli indirizzi sopra indicati, le Parti eleggono il proprio domicilio ad ogni fine pertinente le Condizioni Generali ed il Contratto di Servizio, ivi compreso quello di eventuali notificazioni giudiziarie.
                <br><br>
                14 - Forza maggiore
                <br>Nessuna delle Parti sarà responsabile in conseguenza di inadempimenti di oneri ed obblighi afferenti Condizioni Generali e Contratto di Servizio dipendenti da cause di forza maggiore , compresi a titolo esemplificativo tumulti, scioperi, incendi, alluvioni, terremoti e catastrofi ambientali, provvedimenti di Autorità direttamente o indirettamente incidenti sui Servizi. Di conseguenza, nessuno di tali inadempimenti o ritardi potrà costituire una violazione del contratto imputabile alla Parte.
                <br><br>
                15. Cessione del contratto
                <br><br>
                15.1 In quanto utente, non avrai alcun diritto di cedere o trasferire a qualsivoglia terzo, in tutto o in parte, il contratto da te stipulato con www.calcolousurabancaria.it ovvero i diritti e/o le facoltà a te spettanti ai sensi delle presenti Condizioni Generali di Utilizzo. www.calcolousurabancaria.it, al contrario, potrà cedere a terzi tali diritti senza alcuna limitazione.
                <br><br>
                16. Rinunce e separabilità di clausole
                <br><br>
                16.1 La mancata richiesta di ottemperare ad una delle disposizioni delle presenti Condizioni Generali di Utilizzo non dovrà intendersi limitare o escludere il diritto di www.calcolousurabancaria.it di richiedere tale ottemperamento in qualsiasi momento, anche successivo. Ugualmente, la rinuncia a far valere un inadempimento o una violazione delle presenti Condizioni Generali di Utilizzo non potrà costituire una rinuncia a qualsiasi inadempimento o violazione successivi, ovvero una rinuncia a quella stessa disposizione. Qualora una parte delle presenti Condizioni Generali di Utilizzo venga considerata non applicabile, tale parte dovrà essere modificata in modo da rispecchiare l’effettiva intenzione delle parti e soltanto nella misura necessaria per renderla applicabile, mentre le rimanenti disposizioni delle presenti Condizioni Generali di Utilizzo rimarranno pienamente valide ed in vigore.
                <br><br>
                17. Legge Applicabile e Foro Competente
                <br><br>
                17.1 Le presenti Condizioni Generali di Utilizzo sono state redatte e devono essere interpretate secondo le leggi della Repubblica Italiana.
                <br><br>
                17.2 Qualsiasi controversia derivante da, o relativa a, validità, interpretazione, applicazione, esecuzione e/o risoluzione delle presenti Condizioni Generali di Utilizzo, ovvero all’accesso a, o all’utilizzo dei servizi di www.calcolousurabancaria.it da parte di un utente che agisca in veste professionale o per finalità correlate ad attività professionali è soggetta alla competenza esclusiva del Foro di Roma. Nei confronti di un utente che agisca in veste di consumatore, vale la normativa di volta in volta applicabile a quest’ultimo più favorevole.
                <br><br>
                BOX SPECIALE
                <br>Ai sensi e per gli effetti di cui agli artt. 1341 e 1342 del codice civile, riconosco di aver perfettamente inteso e di accettare e concordare ciascuna delle seguenti clausole e dei seguenti articoli delle sopra riportate Condizioni Generali di Utilizzo dei servizi di www.calcolousurabancaria.it:
                <br><br>
                1. Disciplina contrattuale  e normativa applicabile
                <br><br>
                2. Conclusione del contratto
                <br><br>
                3. Conferimento di dati a calcolousurabancaria.it - Delega - Documentazione Integrativa - Buono
                <br><br>
                4. Prezzi - Modalità di Pagamento - Fatturazione - Tempistiche di evasione
                <br><br>
                5. Diritto di recesso ai sensi del Codice del Consumo
                <br><br>
                6. Analisi degli illeciti bancari
                <br><br>
                7 - Recesso e sospensione
                <br><br>
                8. Limitazione delle responsabilità di IWS srl
                <br><br>
                9 - Dichiarazioni e garanzie
                <br><br>
                10 - Riservatezza e non concorrenza
                <br><br>
                11 - Proprietà intellettuale e industriale
                <br><br>
                12 -  Registrazione
                <br><br>
                13 - Comunicazioni
                <br><br>
                14 - Forza maggiore
                <br><br>
                15. Cessione del contratto
                <br><br>
                16. Rinunce e separabilità di clausole
                <br><br>
                17. Legge Applicabile e Foro Competente
            </p>
        </div>
    </section><!-- / extra-section -->







    <!-- Call to action-section -->
    <section class="calltoaction-section calltoaction-section-2 edit-item" data-sandboxid="tmp-rgiJS0">
        <div class="container">
            <div class="flex-row middle-md gt30">
                <div class="flex-col-md-7 l animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <h3 class="title medium edit-item edit-content" data-sandboxid="tmp-rgFiD0"><strong>99%</strong> dei Conti Correnti <br><strong>Presenta anomalie bancarie</strong> Recupera i tuoi soldi!</h3>
                </div>
                <div class="flex-col-md-3 r animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <span class="fs20">Chiedi all'esperto</span><br>
                    <span class="fs30"><i class="fa fa-phone edit-item" data-sandboxid="tmp-rgFOx0"></i> 06.62.28.86.11</span>
                </div>
                <div class="flex-col-md-2 r align-c animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <a href="{{ path('qm_usurabancaria_calcola_subito') }}" class="btn btn-default btn-lg popup-contact edit-item edit-content" data-sandboxid="tmp-rgFJb0">Calcola Ora!</a>
                </div>
            </div>
        </div>
    </section><!-- /.calltoaction-section -->

    <!------- footer ------->
    {% include 'footer.html.twig' %}


</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}
</body>
</html>