<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcolo Usura Bancaria: Contatti</title>
    <meta name="description" content="Richiedi informazioni online per ottenere l'Analisi Econometrica sul tuo conto, mutuo o finanziamenti.">
    <meta name="keywords" content="assistenza legale, usura bancaria, illeciti bancari, anatocismo bancario">
    <meta name="robots" content="index,follow">
    <!--pageMeta-->

    <!-- Lib CSS -->
    <link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
<div id="page" data-linkscroll="y">
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}

    <!-- Header -->
    <header class="pghead-section pghead-section1 bg-verde-scuro edit-item" data-sandboxid="tmp-rgyQh0">
        {#<div class="bg-section full-wh bg-cc bg-cover edit-item" data-bg="images/bg1.jpg" data-sandboxid="tmp-rgNhx0" style="background-image: url(&quot;images/bg1.jpg&quot;);"></div>#}
        <div class="container typo-light">
            <div class="pg-path fs11 float-right">
                <a href="{{ path('qm_usurabancaria_home') }}" class="edit-item edit-content" data-sandboxid="tmp-rgMQy0">Home</a>
                <b> / </b>
                <a href="{{ path('qm_usurabancaria_contatti') }}" class="edit-item edit-content" data-sandboxid="tmp-rgMQy1">Contatti</a>
            </div>
            <h1 class="title edit-item edit-content" data-sandboxid="tmp-rgVNR0">Contatti</h1>
        </div>
    </header><!-- / Header -->


    <!-- / Contact section -->
    <section class="contact-section contact-section-4">
        <div class="container">
            <div class="flex-row">
                <div class="flex-col-md-6">

                    <!-- Popup contact form - 1 -->
                    <div id="contact-form" class="form-block">
                        <h2 class="title small">Invia un messaggio</h2>
                        <hr>
                        {% include 'form/form-contatti.html.twig' with {form: form} %}
                        <div class="msg-block"></div>
                    </div><!-- /#popup-contact-form -->

                </div><!-- / column -->

                <div class="flex-col-md-5 flex-col-md-offset-1">
                    <div class="content">
                        <h3 class="title small"> I Nostri Contatti</h3>

                        <hr>

                        <div class="info-obj img-l g20 mini">
                            <div class="img"><span class="iconwrp"><i class="pe-7s-map-marker"></i></span></div>
                            <div class="info">
                                <h3 class="bold-1 fs20 mr-b-10">Indirizzo</h3>
                                <p>Via Emanuele Pessagno 11 00122 Roma</p>
                            </div>
                        </div><!-- / info object -->

                        <hr>

                        <div class="info-obj img-l g20 mini">
                            <div class="img"><span class="iconwrp"><i class="pe-7s-call"></i></span></div>
                            <div class="info">
                                <h3 class="bold-1 fs20 mr-b-0">Telefono</h3>
                                <p class="mr-b-20">06.62.28.86.11</p>

                                <h3 class="bold-1 fs20 mr-b-0">FAX</h3>
                                <p class="mr-b-20">06.99.33.03.24</p>
                            </div>
                        </div><!-- / info object -->

                        <hr>

                        <div class="info-obj img-l g20 mini">
                            <div class="img"><span class="iconwrp"><i class="pe-7s-mail"></i></span></div>
                            <div class="info">
                                <h3 class="bold-1 fs20 mr-b-10">Email</h3>
                                <p><a href="mailto:info@calcolousurabancaria.it">info@calcolousurabancaria.it</a></p>
                            </div>
                        </div><!-- / info object -->

                    </div><!-- /.content -->

                </div><!-- / column -->

            </div><!-- / row -->
        </div><!-- / container-fluid -->
    </section><!-- /contact-section -->

    <!-- Call to action-section -->
    <section class="calltoaction-section calltoaction-section-2 edit-item" data-sandboxid="tmp-rgiJS0">
        <div class="container">
            <div class="flex-row middle-md gt30">
                <div class="flex-col-md-7 l animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <h3 class="title medium edit-item edit-content" data-sandboxid="tmp-rgFiD0"><strong>Mutui Fuorilegge!</strong> Verifica Tassi Usurai e Richiedi l'Analisi del tuo Mutuo.</h3>
                </div>
                <div class="flex-col-md-3 r animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <span class="fs20">Chiedi all'esperto</span><br>
                    <span class="fs30"><i class="fa fa-phone edit-item" data-sandboxid="tmp-rgFOx0"></i> 06.62.28.86.11</span>
                </div>
                <div class="flex-col-md-2 r align-c animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <a href="{{ path('qm_usurabancaria_calcola_subito') }}" class="btn btn-default btn-lg popup-contact edit-item edit-content" data-sandboxid="tmp-rgFJb0">Calcola Ora!</a>
                </div>
            </div>
        </div>
    </section><!-- /.calltoaction-section -->


    <!-- Footer section -->
    {% include 'footer.html.twig' %}
    <!-- ./Footer section -->

</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}
</body>
</html>