<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Calcolo Usura Bancaria e Anatocismo</title>
	<meta name="description" content="Calcola la somma che puoi recuperare dalla Tua Banca! Verifica online  Anatocismo Bancario e altre anomalie su Conti Correnti, Mutui, Leasing, Finanziamenti etc.">
	<meta name="keywords" content="anatocismo bancario, usura bancaria, anatocismo, Analisi Conti Correnti, analisi Mutui, analisi Leasing, analisi Finanziamenti, analisi Conti Anticipi">
	<meta name="robots" content="index,follow">

	<!--pageMeta-->

	<!-- Lib CSS -->
	<link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
	<!-- Favicons -->
	{#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
	<link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
	<link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

	</script>

</head>
<body>
<div id="page" data-linkscroll="y">
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}

	<!-- intro-section -->
	<section class="intro-section intro-section-26">
		<div class="container flex-cl">
			<div class="flex-row">
				<div class="flex-col-md-6 flex-cl">
                    <div class="caption">
                        <h1 class="title lh1-2 bold-4" style="font-weight: 700;">Calcola quanto puoi recuperare dalla Tua Banca! <i class="fa fa-arrow-right fa-rotate-frecciaGialla" aria-hidden="true" style="color: #FFD600;"></i>
						</h1>
                        <h2 class="title small italic bold-4">Richiedi un'analisi Econometrica completa<br>e verifica Anomalie Bancarie</h2><hr class="light mr-tb-20">
                        <p class="title-sub">Analisi su Conti Correnti, Mutui, Leasing, Finanziamenti e Conti Anticipi</p>
                    </div>
				</div>
				<div class="flex-col-md-4 flex-col-md-offset-2">
					<!-- Popup contact form -->
					<div class="white-popup-block popup-form">
						<div class="pop-body brdColorGiallo bdr-1 rd-5">
                            {% include 'form/form-contatti-home.html.twig' with {form: form} %}
							<div class="msg-block"></div>
						</div>
					</div><!-- /#popup-contact-form -->
				</div>
			</div>
		</div><!-- /.container -->
		<div class="full-wh bg-section bg-cover bg-cc" data-parallax="scroll" data-image-src="{{ asset('assets/homepage.jpg') }}"><b style="background-color: rgba(44, 114, 183, 0.35);background-image: url({{ asset('assets/homepage.jpg') }})" class="full-wh overlay"></b></div>
	</section><!-- /.intro-section -->

	<!-- Content -->
	<section class="content-section align-c content-section-9 pd-tb-60-30" id="aboutus">
		<div class="container">
			<!-- nascondo la sezione
			<div align="center" class="fs80">
				<i class="pe-7s-medal" style="color: #ff6858;"></i>
			</div>
			<h2 class="title medium">25 YEARS OF EXPERIENCE</h2>
			<p class="title-sub">
				In construction and maintenance business
			</p>
			<hr class="mr-b-40 dark">
			-->
			<div class="row eqh gt40">
				
				<div class="col-md-3">
					<div class="info-box info-box6">
						<div class="img"><i class="fa fa-calculator" aria-hidden="true"></i>
						</div>
						<div class="info">
							<h3 class="hd">Analisi Econometrica</h3>
							<p class="sub-txt">Individuiamo per te eventuali Anomalie Bancarie, tramite il ricalcolo delle rate del mutuo, dei movimenti del conto corrente, dei tassi applicati, ecc.

							</p>
						</div>
					</div>	
				</div>

				<div class="col-md-3">
					<div class="info-box info-box6">
						<div class="img"><i class="fa fa-gavel" aria-hidden="true"></i>
						</div>
						<div class="info">
							<h3 class="hd">Assistenza Legale</h3>
							<p class="sub-txt">Il nostro studio legale ti assisterà gratuitamente nella fase stragiudiziale con la banca, per comunicare la richiesta di rimborso.

							</p>
						</div>
					</div>	
				</div>

				<div class="col-md-3">
					<div class="info-box info-box6">
						<div class="img"><i class="fa fa-percent" aria-hidden="true"></i>
						</div>
						<div class="info">
							<h3 class="hd">Zero Commissioni</h3>
							<p class="sub-txt">Il calcolo dell'Usura Bancaria ti consentirà di recuperare l'importo dovuto, a zero commissioni per il servizio.

							</p>
						</div>
					</div>	
				</div>

				<div class="col-md-3">
					<div class="info-box info-box6">
						<div class="img"><i class="fa fa-comments-o" aria-hidden="true"></i>
						</div>
						<div class="info">
							<h3 class="hd">Consulente OnLine</h3>
							<p class="sub-txt">Il nostro consulente ti seguirà in ogni fase, attraverso la chat online e la linea telefonica dedicata.
							</p>
						</div>
					</div>	
				</div>

			</div>
		</div><!-- /.container -->
	</section><!-- /.content-section -->



	<!-- product-section -->
	<section class="product-section align-c product-section-2 edit-item pd-tb-30" data-sandboxid="tmp-rgoy30">
		<div class="container">
			<p class="title edit-item edit-content" data-sandboxid="tmp-rgVza0">Cosa Facciamo per Te</p>
			<p class="title-sub edit-item edit-content" data-sandboxid="tmp-rgVN40">
				Temi che i tuoi risparmi siano oggetto di <strong>Anatocismo</strong> ed <strong>Illeciti Bancari</strong>? Calcola l'<strong>Usura Bancaria</strong> per verificare gli importi recuperabili dalla tua banca. Il nostro esperto è a tua disposizione, chiedici informazioni!</p>
			<div class="row eqh mb20 fs-equalize-element">

				<!-- column -->
				<div class="col-md-4">
					<!-- product-box -->
					<div class="product-box product-box1 align-l edit-item" data-sandboxid="tmp-rgGXb0">
						<div class="img">
							{#<span class="save-tag edit-item edit-content" data-sandboxid="tmp-rgeV10">SAVE 10%</span>#}
							<a href="{{ path('qm_usurabancaria_analisi_conto_corrente') }}" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgQuB0"><img src="{{ asset('assets/conto-corrente.jpg') }}" alt="Analisi conto corrente" class="edit-item" data-sandboxid="tmp-rgEdQ0"></a>
							{#<div class="price flex-cc edit-item edit-content" data-sandboxid="tmp-rgdyG0">#}
								{#<div align="center">From<br><b class="edit-item edit-content" data-sandboxid="tmp-rgkW60">$25.00</b></div>#}
							{#</div>#}
						</div>
						<div class="info edit-item" data-sandboxid="tmp-rgME70">
							<h3 class="hd edit-item edit-content" data-sandboxid="tmp-rgnBl0"><a href="{{ path('qm_usurabancaria_analisi_conto_corrente') }}" class="edit-item edit-content" data-sandboxid="tmp-rgQuB1">Analisi su Conto Corrente</a></h3>
							<p class="txt edit-item edit-content" data-sandboxid="tmp-rgVN41">Calcola l'Usura Bancaria sui tuoi conti correnti. L'Analisi Econometrica verificherà che siano state rispettate le condizioni del contratto e che sussistano eventuali interessi anatocistici e tassi usurari sugli estratti conto trimestrali.

							</p>
							<hr class="mr-tb-10 op edit-item" data-sandboxid="tmp-rgnlW1">
							<a href="{{ path('qm_usurabancaria_analisi_conto_corrente') }}" class="btn btn-line dark btn-sm edit-item edit-content" data-sandboxid="tmp-rgQuB2">Calcola Ora!</a>
							<!--<p class="fs12 edit-item edit-content" data-sandboxid="tmp-rgVN42">All prices display per day</p>-->
						</div>
					</div><!-- /.product-box -->
				</div><!-- /.column -->

				<!-- column -->
				<div class="col-md-4">
					<!-- product-box -->
					<div class="product-box product-box1 align-l edit-item" data-sandboxid="tmp-rgGXb1">
						<div class="img">
							<!--<span class="save-tag edit-item edit-content" data-sandboxid="tmp-rgeV11">SAVE 10%</span>-->
							<a href="{{ path('qm_usurabancaria_analisi_mutuo') }}" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgQuB3"><img src="{{ asset('assets/analisi-mutuo.jpg') }}" alt="Analisi mutuo" class="edit-item" data-sandboxid="tmp-rgEdQ1"></a>
							<!--<div class="price flex-cc edit-item edit-content" data-sandboxid="tmp-rgdyG1">
								<div align="center">From<br><b class="edit-item edit-content" data-sandboxid="tmp-rgkW61">$22.00*</b></div>
							</div>-->
						</div>
						<div class="info edit-item" data-sandboxid="tmp-rgME71">
							<h3 class="hd edit-item edit-content" data-sandboxid="tmp-rgnBl1"><a href="{{ path('qm_usurabancaria_analisi_mutuo') }}" class="edit-item edit-content" data-sandboxid="tmp-rgQuB4">Analisi Mutuo</a></h3>
							<p class="txt edit-item edit-content" data-sandboxid="tmp-rgVN43">Vuoi identificare l'importo recuperabile dalla tua banca sul tuo contratto di mutuo? Il nostro servizio consentirà di evidenziare l'eventuale superamento delle soglie di usura e l'applicazione di spese illegittime.

							</p>
							<hr class="mr-tb-10 op edit-item" data-sandboxid="tmp-rgnlW3">
							<a href="{{ path('qm_usurabancaria_analisi_mutuo') }}" class="btn btn-line dark btn-sm edit-item edit-content" data-sandboxid="tmp-rgQuB5">Calcola Ora!</a>
							{#<p class="fs12 edit-item edit-content" data-sandboxid="tmp-rgVN44">All prices display per day</p>#}
						</div>
					</div><!-- /.product-box -->
				</div><!-- /.column -->

				<!-- column -->
				<div class="col-md-4">
					<!-- product-box -->
					<div class="product-box product-box1 align-l edit-item" data-sandboxid="tmp-rgGXb2">
						<div class="img">
							<!--<span class="save-tag edit-item edit-content" data-sandboxid="tmp-rgeV12">SAVE 10%</span>-->
							<a href="{{ path('qm_usurabancaria_rottamazione_cartelle_equitalia') }}" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgQuB6"><img src="{{ asset('assets/equitalia.jpg') }}" alt="Rottamazione cartelle equitalia" class="edit-item" data-sandboxid="tmp-rgEdQ2"></a>
							<div class="price flex-cc edit-item edit-content" data-sandboxid="tmp-rgdyG2">
								<div align="center">Novità</div>
							</div>
						</div>
						<div class="info edit-item" data-sandboxid="tmp-rgME72">
							<h3 class="hd edit-item edit-content" data-sandboxid="tmp-rgnBl2"><a href="{{ path('qm_usurabancaria_rottamazione_cartelle_equitalia') }}" class="edit-item edit-content" data-sandboxid="tmp-rgQuB7">Rottamazione Cartelle Equitalia</a></h3>
							<p class="txt edit-item edit-content" data-sandboxid="tmp-rgVN45"><strong>Verifica</strong> la regolarità delle Cartelle Equitalia oppure richiedine la <strong>Rottamazione</strong> come previsto della Finanziaria.<br><br><strong>Scadenza: entro Marzo 2017</strong></p>
							<hr class="mr-tb-10 op edit-item" data-sandboxid="tmp-rgnlW4">
							<a href="{{ path('qm_usurabancaria_rottamazione_cartelle_equitalia') }}" class="btn btn-line dark btn-sm edit-item edit-content" data-sandboxid="tmp-rgQuB8">Calcola Ora!</a>
							<!--<p class="fs12 edit-item edit-content" data-sandboxid="tmp-rgVN46">All prices display per day</p>-->
						</div>
					</div><!-- /.product-box -->
				</div><!-- /.column -->

				<!-- column -->
				<div class="col-md-4">
					<!-- product-box -->
					<div class="product-box product-box1 align-l edit-item" data-sandboxid="tmp-rgGXb3">
						<div class="img">
							<!--<span class="save-tag edit-item edit-content" data-sandboxid="tmp-rgeV13">SAVE 10%</span>-->
							<a href="{{ path('qm_usurabancaria_analisi_leasing') }}" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgQuB9"><img src="{{ asset('assets/analisi-leasing.jpg') }}" alt="Analisi Leasing" class="edit-item" data-sandboxid="tmp-rgEdQ3"></a>
							<!--<div class="price flex-cc edit-item edit-content" data-sandboxid="tmp-rgdyG3">
								<div align="center">From<br><b class="edit-item edit-content" data-sandboxid="tmp-rgkW63">$43.00*</b></div>
							</div>-->
						</div>
						<div class="info edit-item" data-sandboxid="tmp-rgME73">
							<h3 class="hd edit-item edit-content" data-sandboxid="tmp-rgnBl3"><a href="{{ path('qm_usurabancaria_analisi_leasing') }}" class="edit-item edit-content" data-sandboxid="tmp-rgQuB10">Analisi Leasing</a></h3>
							<p class="txt edit-item edit-content" data-sandboxid="tmp-rgVN47">Il calcolo sugli Illeciti Bancari può essere effettuato anche sui contratti di leasing. Richiedilo, e il nostro esperto verificherà tutta la documentazione per calcolare gli importi minimi recuperabili.

							</p>
							<hr class="mr-tb-10 op edit-item" data-sandboxid="tmp-rgnlW7">
							<a href="{{ path('qm_usurabancaria_analisi_leasing') }}" class="btn btn-line dark btn-sm edit-item edit-content" data-sandboxid="tmp-rgQuB11">Calcola Ora!</a>
							<!--<p class="fs12 edit-item edit-content" data-sandboxid="tmp-rgVN48">All prices display per day</p>-->
						</div>
					</div><!-- /.product-box -->
				</div><!-- /.column -->

				<!-- column -->
				<div class="col-md-4">
					<!-- product-box -->
					<div class="product-box product-box1 align-l edit-item" data-sandboxid="tmp-rgGXb4">
						<div class="img">
							<!--<span class="save-tag edit-item edit-content" data-sandboxid="tmp-rgeV14">SAVE 10%</span>-->
							<a href="{{ path('qm_usurabancaria_analisi_conto_anticipi') }}" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgQuB12"><img src="{{ asset('assets/analisi-conto-anticipi.jpg') }}" alt="Analisi Conto Anticipi" class="edit-item" data-sandboxid="tmp-rgEdQ4"></a>
							<!--<div class="price flex-cc edit-item edit-content" data-sandboxid="tmp-rgdyG4">
								<div align="center">From<br><b class="edit-item edit-content" data-sandboxid="tmp-rgkW64">$26.00*</b></div>
							</div>-->
						</div>
						<div class="info edit-item" data-sandboxid="tmp-rgME74">
							<h3 class="hd edit-item edit-content" data-sandboxid="tmp-rgnBl4"><a href="{{ path('qm_usurabancaria_analisi_conto_anticipi') }}" class="edit-item edit-content" data-sandboxid="tmp-rgQuB13">Analisi Conto Anticipi</a></h3>
							<p class="txt edit-item edit-content" data-sandboxid="tmp-rgVN49">Il calcolo dell'Usura Bancaria sul conto anticipi prevede un'Analisi Econometrica capace di identificare le somme minime recuperabili qualora siano stati applicati interessi anatocistici.

							</p>
							<hr class="mr-tb-10 op edit-item" data-sandboxid="tmp-rgnlW9">
							<a href="{{ path('qm_usurabancaria_analisi_conto_anticipi') }}" class="btn btn-line dark btn-sm edit-item edit-content" data-sandboxid="tmp-rgQuB14">Calcola Ora!</a>
							<!--<p class="fs12 edit-item edit-content" data-sandboxid="tmp-rgVN410">All prices display per day</p>-->
						</div>
					</div><!-- /.product-box -->
				</div><!-- /.column -->

				<!-- column -->
				<div class="col-md-4">
					<!-- product-box -->
					<div class="product-box product-box1 align-l edit-item" data-sandboxid="tmp-rgGXb5">
						<div class="img">
							<!--<span class="save-tag edit-item edit-content" data-sandboxid="tmp-rgeV15">SAVE 10%</span>-->
							<a href="{{ path('qm_usurabancaria_analisi_finanziamenti') }}" target="_blank" class="edit-item edit-content" data-sandboxid="tmp-rgQuB15"><img src="{{ asset('assets/analisi-finanziamenti.jpg') }}" alt="Analisi Finanziamenti" class="edit-item" data-sandboxid="tmp-rgEdQ5"></a>
							<!--<div class="price flex-cc edit-item edit-content" data-sandboxid="tmp-rgdyG5">
								<div align="center">From<br><b class="edit-item edit-content" data-sandboxid="tmp-rgkW65">$108.00*</b></div>
							</div>-->
						</div>
						<div class="info edit-item" data-sandboxid="tmp-rgME75">
							<h3 class="hd edit-item edit-content" data-sandboxid="tmp-rgnBl5"><a href="{{ path('qm_usurabancaria_analisi_finanziamenti') }}" class="edit-item edit-content" data-sandboxid="tmp-rgQuB16">Analisi Finanziamenti</a></h3>
							<p class="txt edit-item edit-content" data-sandboxid="tmp-rgVN411">La nostra Analisi Econometrica può essere effettuata su qualsiasi forma di istanza di credito. Richiedi informazioni per analizzare il tuo contratto di finanziamento, potremo aiutarti ad identificare gli importi recuperabili.
							</p>
							<hr class="mr-tb-10 op edit-item" data-sandboxid="tmp-rgnlW11">
							<a href="{{ path('qm_usurabancaria_analisi_finanziamenti') }}" class="btn btn-line dark btn-sm edit-item edit-content" data-sandboxid="tmp-rgQuB17">Calcola Ora!</a>
							<!--<p class="fs12 edit-item edit-content" data-sandboxid="tmp-rgVN412">All prices display per day</p>-->
						</div>
					</div><!-- /.product-box -->
				</div><!-- /.column -->

			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.product-section -->
    
    
	{#<!-- Testimonials -->
	 <section class="testimonial-section testimonial-section-1" id="testimonial">
		<div class="container">
			<div class="carousel-widget ctrl-1" 
				data-items="1"
				data-itemrange="false"
				data-autoplay="true"
				data-nav="false"
				data-in="false"
				data-out="false"
				data-pager="true">
				<div class="owl-carousel">
					
					<div class="item">
						<div class="dark feedback-box feedback-box2">
							<i class="fa fa-quote-right"></i>
							<p class="feedback">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
							<div class="person">
								#}{#<img src="../../public/twig/images/person1.jpg" alt="Person">#}{#
								<strong>Oupsum dolor</strong>
								<em>Creative Director</em>
							</div>
						</div><!-- /.feedback-box -->
					</div>
					
					<div class="item">
						<div class="dark feedback-box feedback-box2">
							<i class="fa fa-quote-right"></i>
							<p class="feedback">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
							<div class="person">
								#}{#<img src="../../public/twig/images/person2.jpg" alt="Person">#}{#
								<strong>Oupsum dolor</strong>
								<em>Creative Director</em>
							</div>
						</div><!-- /.feedback-box -->
					</div>

					<div class="item">
						<div class="dark feedback-box feedback-box2">
							<i class="fa fa-quote-right"></i>
							<p class="feedback">Sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
							<div class="person">
								#}{#<img src="../../public/twig/images/person3.jpg" alt="Person">#}{#
								<strong>Oupsum dolor</strong>
								<em>Creative Director</em>
							</div>
						</div><!-- /.feedback-box -->
					</div>

					<div class="item">
						<div class="dark feedback-box feedback-box2">
							<i class="fa fa-quote-right"></i>
							<p class="feedback">Onsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
							<div class="person">
								#}{#<img src="../../public/twig/images/person4.jpg" alt="Person">#}{#
								<strong>Oupsum dolor</strong>
								<em>Creative Director</em>
							</div>
						</div><!-- /.feedback-box -->
					</div>

					<div class="item">
						<div class="dark feedback-box feedback-box2">
							<i class="fa fa-quote-right"></i>
							<p class="feedback">Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
							<div class="person">
								#}{#<img src="../../public/twig/images/person5.jpg" alt="Person">#}{#
								<strong>Oupsum dolor</strong>
								<em>Creative Director</em>
							</div>
						</div><!-- /.feedback-box -->
					</div>

					<div class="item">
						<div class="dark feedback-box feedback-box2">
							<i class="fa fa-quote-right"></i>
							<p class="feedback">Aadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
							<div class="person">
								#}{#<img src="../../public/twig/images/person6.jpg" alt="Person">#}{#
								<strong>Oupsum dolor</strong>
								<em>Creative Director</em>
							</div>
						</div><!-- /.feedback-box -->
					</div>

				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->

		</div>
		<div class="bg-section bg-cover full-wh bg-cc" data-bg="{{ asset("assets/bg8.jpg") }}"><b class="full-wh"></b></div>
	</section><!-- /.testimonial-section -->#}

	
	<!-- Footer section -->
    {% include 'footer.html.twig' %}
	<!-- ./Footer section -->

</div>
<!-- /#page --> 

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}
</body>
</html>