<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcolo Usura Bancaria - Privacy</title>
    <meta name="robots" content="no index,follow">

    <!--pageMeta-->
    {#<script src="bundle.js"><#}{##}{#/script>#}
    <!-- Lib CSS -->
    <link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
<div id="page" data-linkscroll='y'>
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}

    <!-- Header -->
    <header class="pghead-section pghead-section1 bg-verde-scuro edit-item pd-tb-10" data-sandboxid="tmp-rgyQh0">
        {#<div class="bg-section full-wh bg-cc bg-cover edit-item" data-bg="images/bg1.jpg" data-sandboxid="tmp-rgNhx0" style="background-image: url(&quot;images/bg1.jpg&quot;);"></div>#}
        <div class="container typo-light">
            <div class="pg-path fs11 float-right">
                <a href="/" class="edit-item edit-content" data-sandboxid="tmp-rgMQy0">Home</a>
                <b> / </b>
                <a href="#" class="edit-item edit-content" data-sandboxid="tmp-rgMQy1">Privacy</a>
            </div>
            <h1 class="title edit-item edit-content" data-sandboxid="tmp-rgVNR0">Privacy</h1>
        </div>
    </header><!-- / Header -->



    <!-- extra-section -->
    <section class="extra-section extra-content1 edit-item" data-sandboxid="tmp-rgLWI0">
        <div class="container">
            <p class="fs14 mr-0 edit-item edit-content" data-sandboxid="tmp-rgkvu0"><strong>Informativa sul trattamento dei dati personali (ai sensi dell’Art. 13 D.lgs. 30 giugno 2003 n. 196)</strong>
                <br><br>
                Egregio Cliente
                <br>
                desideriamo informarla che il D. Lgs. n. 196 del 30 giugno 2003 ("Codice in materia di protezione dei dati personali") prevede la tutela delle persone e di altri soggetti rispetto al trattamento dei dati personali.
                In osservanza alla suddetta normativa, il trattamento dei suoi dati personali sarà improntato ai principi di correttezza, liceità e trasparenza e, in ogni caso, garantirà la tutela della sua riservatezza e dei suoi diritti.
                Ai sensi dell'articolo 13 del D.lgs. n.196/2003, pertanto, le forniamo le seguenti informazioni:<br>
                <strong>Finalità del trattamento</strong><br>
                Il trattamento dei dati conferiti a IWS S.r.l. , ai fini dell’erogazione del servizio da lei richiesto, verrà effettuato per:
                <br>Dare esecuzione al servizio da lei richiesto;
                <br>Adempiere gli obblighi previsti da leggi o regolamenti;
                <br>L’eventuale tutela dei diritti in sede giudiziaria ed extra giudiziaria;
                <br>Inviarle materiale pubblicitario ed informativo.
                <br><br>
                Modalità del trattamento
                <br>I suoi dati verranno raccolti, archiviati e trattati tramite i supporti elettronici, informatici o cartacei, indispensabili per la puntuale e corretta erogazione del servizio da lei richiesto, in ogni caso atti a garantire il rispetto della riservatezza e delle misure minime di sicurezza di cui al Disciplinare Tecnico (allegato B del C.d.P.). Il trattamento potrà comprendere - nel rispetto dei limiti e delle condizioni posti dal D. Lgs. n. 196/2003 - una o più tra le seguenti operazioni sui dati: raccolta, registrazione, organizzazione, conservazione, elaborazione, modificazione, estrazione, raffronto, utilizzo, interconnessione, blocco, comunicazione, cancellazione, distruzione.
                <br>Obbligatorietà del conferimento dei dati ai fini dell'esecuzione del servizio
                <br>Ai fini del corretta e puntuale erogazione del servizio da lei richiesto, è obbligatorio il conferimento dei seguenti dati, con l’impegno da parte sua/vostra di comunicarci tempestivamente eventuali correzioni, integrazioni e/o aggiornamenti:
                <br>Nome e cognome (ragione sociale, se azienda o libero professionista);
                <br>Codice Fiscale (partita IVA, se azienda o libero professionista);
                <br>Indirizzo di residenza (sede, se azienda o libero professionista);
                <br>Indirizzo email;
                <br>Recapito telefonico.
                <br><br>
                Mancato conferimento dei dati
                <br>Il mancato conferimento anche di uno dei dati obbligatori, determinerà l’impossibilità per IWS S.r.l. di erogare il servizio da Lei richiesto.
                <br><br>
                Comunicazione dei dati a terzi
                <br>Esclusivamente ai fini della corretta erogazione del servizio da lei richiesto e dell’adempimento da parte di IWS S.r.l. degli obblighi contrattuali o di legge, i suoi dati potranno essere oggetto di comunicazione a terzi o di diffusione ad enti pubblici/privati cui sia riconosciuta la facoltà di accedervi da norme di legge, normative secondarie o comunitarie.
                <br><br>
                Utilizzo dei Cookies
                <br><br>
                <strong>INFORMAZIONI GENERALI, DISATTIVAZIONE E GESTIONE DEI COOKIE</strong>
                <br>I cookie sono dati che vengono inviati dal sito web e memorizzati dal browser internet nel computer o in altro dispositivo (ad esempio, tablet o cellulare) dell’utente. Potranno essere installati dal nostro dominio cookie tecnici e cookie di terze parti. Ad ogni modo, l’utente potrà gestire, ovvero richiedere la disattivazione generale o la cancellazione dei cookie, modificando le impostazioni del proprio browser internet. Tale disattivazione, però, potrà rallentare o impedire l'accesso ad alcune parti del sito. Le impostazioni per gestire o disattivare i cookie possono variare a seconda del browser internet utilizzato, pertanto, per avere maggiori informazioni sulle modalità con le quali compiere tali operazioni, suggeriamo all’Utente di consultare il manuale del proprio dispositivo o la funzione “Aiuto” o “Help” del proprio browser internet. Di seguito si indicano agli Utenti i link che spiegano come gestire o disabilitare i cookie per i browser internet più diffusi:
                <br>Internet Explorer: http://windows.microsoft.com/it-IT/internet-explorer/delete-manage-cookies
                <br>Google Chrome: https://support.google.com/chrome/answer/95647
                <br>Mozilla Firefox: http://support.mozilla.org/it/kb/Gestione%20dei%20cookie
                <br>Opera: http://help.opera.com/Windows/10.00/it/cookies.html
                <br>Safari: https://support.apple.com/kb/PH19255
                <br><br>
                COOKIE DI TERZE PARTI
                <br>Potranno essere installati cookie di terze parti: si tratta dei cookie, analitici e di profilazione, di Google, di Criteo e di Facebook. Tali cookie sono inviati da domini di predette terze parti esterni al nostro sito. I cookie analitici di terze parti sono impiegati per rilevare informazioni sul comportamento degli utenti sul sito. La rilevazione avviene in forma anonima, al fine di monitorare le prestazioni e migliorare l'usabilità del sito. I cookie di profilazione di terze parti sono utilizzati per creare profili relativi agli utenti, al fine di proporre messaggi pubblicitari in linea con le scelte manifestate dagli utenti medesimi. L’utilizzo di questi cookie è disciplinato dalle regole predisposte dalle terze parti medesime, pertanto, si invitano gli Utenti a prendere visione delle informative privacy e delle indicazioni per gestire o disabilitare i cookie pubblicate nelle seguenti pagine web:
                <br>Per cookie di Google:
                <br>privacy policy: https://www.google.com/intl/it/policies/privacy/
                <br>indicazioni per gestire o disabilitare i cookie: https://support.google.com/accounts/answer/61416?hl=it
                <br>Per cookie di Facebook:
                <br>privacy policy: https://www.facebook.com/privacy/explanation
                <br>indicazioni gestire o disabilitare i cookie: https://www.facebook.com/help/cookies/
                <br><br><br><br>

                Titolare e responsabile del trattamento
                <br>Il titolare del trattamento è IWS S.r.l., in persona del legale rappresentante pro tempore, con sede in 00122 Roma, Via Emanuele Pessagno, 11. Il responsabile del trattamento è il suo legale rappresentante.
                <br>Diritti dell'interessato
                <br>Ai sensi dell'art. 7 del D.lgs.196/2003, di seguito integralmente ritrascritto per sua comodità, in ogni momento potrà esercitare i suoi diritti nei confronti del titolare del trattamento, inviando richiesta scritta a: Responsabile del trattamento dati presso IWS S.r.l., 00122 Roma, Via Emanuele Pessagno, 11, Tel.: 199 240 460/ Fax: 06 99330324 – E mail: info@calcolousurabancaria.it
                <br>Decreto Legislativo n.196/2003
                <br>Art. 7 - Diritto di accesso ai dati personali ed altri diritti
                <br>L'interessato ha diritto di ottenere la conferma dell'esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.
                <br>L'interessato ha diritto di ottenere l'indicazione: a) dell'origine dei dati personali; b) delle finalità e modalità del trattamento; c) della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti elettronici; d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell'articolo 5, comma 2; e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.
                <br>L'interessato ha diritto di ottenere: a) l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei dati; b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati; c) l'attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.
                <br>L'interessato ha diritto di opporsi, in tutto o in parte: a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorché pertinenti allo scopo della raccolta; b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.

            </p>
        </div>
    </section><!-- / extra-section -->







    <!-- Call to action-section -->
    <section class="calltoaction-section calltoaction-section-2 edit-item" data-sandboxid="tmp-rgiJS0">
        <div class="container">
            <div class="flex-row middle-md gt30">
                <div class="flex-col-md-7 l animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <h3 class="title medium edit-item edit-content" data-sandboxid="tmp-rgFiD0"><strong>99%</strong> dei Conti Correnti <br><strong>Presenta anomalie bancarie</strong> Recupera i tuoi soldi!</h3>
                </div>
                <div class="flex-col-md-3 r animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <span class="fs20">Chiedi all'esperto</span><br>
                    <span class="fs30"><i class="fa fa-phone edit-item" data-sandboxid="tmp-rgFOx0"></i> 06.62.28.86.11</span>
                </div>
                <div class="flex-col-md-2 r align-c animated fadeInUp full-visible" data-animate-in="fadeInUp" style="animation-delay: 0s;">
                    <a href="{{ path('qm_usurabancaria_calcola_subito') }}" class="btn btn-default btn-lg popup-contact edit-item edit-content" data-sandboxid="tmp-rgFJb0">Calcola Ora!</a>
                </div>
            </div>
        </div>
    </section><!-- /.calltoaction-section -->

    <!------- footer ------->
    {% include 'footer.html.twig' %}


</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}
</body>
</html>