<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rottamazione Cartelle Equitalia - Calcolo Usura Bancaria</title>
    <title>Calcolo Usura Bancaria - Analisi Conto Corrente</title>
    <meta name="description" content="Verifica la regolarità delle Cartelle Equitalia oppure richiedi online la rottamazione come previsto dalla Finanziaria. Scadenza: entro Marzo 2017.">
    <meta name="keywords" content="rottamazione cartelle equitalia, equitalia, cartelle equitalia, aggio equitalia, spese equitalia, interessi equitalia">
    <meta name="robots" content="index,follow">
    <!--pageMeta-->

    <!-- Lib CSS -->
    <link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">
    <link href="{{ asset('assets/styleTemplate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styleHome.css') }}" rel="stylesheet">
    <!-- Favicons -->
    {#<link rel="icon" href="{{ asset('assets/favicon.ico') }}">#}
    <link rel="icon" sizes="16x16" href="{{ asset('assets/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/apple-touch-icon-114x114.png') }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88906733-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
<div id="page" data-linkscroll="y">
    <!-- Navigation -->
    {% include 'navBar.html.twig' %}



    <!-- Header -->
    <header class="pghead-section pghead-section1 bg-verde-scuro edit-item pd-tb-10" data-sandboxid="tmp-rgyQh0">
        <div class="container typo-light">
            <div class="pg-path float-right fs11">
                <a href="/" class="edit-item edit-content" data-sandboxid="tmp-rgMQy0">Home</a>
                <b> / </b>
                <a href="{{ path('qm_usurabancaria_rottamazione_cartelle_equitalia') }}" class="edit-item edit-content" data-sandboxid="tmp-rgMQy1">Rottamazione cartelle equitalia</a>
            </div>
        </div>
    </header><!-- / Header -->



    <!-- extra-section -->
    <section class="extra-section extra-content2 pd-b-20">
        <div class="container">
            <div class="flex-row middle-md">

                <div class="flex-col-md-12">
                    <div class="content">
                        <h1 class="mr-b-10">Rottamazione Cartelle Equitalia</h1>
                        <h2 class="fs18 mr-b-10">Il nuovo servizio sulla rottamazione delle cartelle Equitalia è a tua disposizione per verificare la <strong>regolarità delle cartelle esattoriali Equitalia</strong> che ti sono state imputate dall'ente di riscossione.</h2>
                    </div>
                </div><!-- / column -->
            </div><!-- / row -->
        </div><!-- / container -->
    </section><!-- / extra-section -->


    <!-- Form section -->
    <section class="form-section form-section-5 bg-gray sm-pd-reset sm-align-c edit-item" id="freetrial" data-sandboxid="tmp-rgT2c0">
        <div class="container">

            <div class="flex-row middle-md">

                <div class="flex-col-md-5 align-c">
                    <div class="white-popup-block popup-form">
                        <div class="pop-body brdColorGiallo bdr-1 rd-5">
                            {% include 'form/form-contatti.html.twig' with {form: form} %}
                            <div class="msg-block"></div>
                        </div>
                    </div>
                </div><!-- / column -->
                <div class="flex-col-md-6 flex-col-md-offset-1 align-l">
                    <p class="title-sub small edit-item edit-content" data-sandboxid="tmp-rgUkB0">Con il nostro servizio, potrai determinare la <strong>regolarità delle cartelle Equitalia</strong> oppure richiederne la <strong>rottamazione</strong>, entro il 31 marzo 2017, come previsto dalla Legge di Stabilità 2017.<br><br>
                        Richiedi tutte le informazioni necessarie tramite il nostro form online, o chiama il nostro ufficio dedicato al numero 06.62.28.86.11.<br> Avrai a disposizione la consulenza del nostro esperto e potrai impugnare le cartelle Equitalia irregolari che ti sono state erroneamente imputate!
                    </p>
                    <p class="title-sub small edit-item edit-content">La <strong>domanda agevolata di rottamazione delle cartelle Equitalia</strong> è già stata presentata da circa 100mila contribuenti italiani (fonte Repubblica.it), in relazione ai <strong>debiti rimasti in sospeso tra il 2000 ed il 2016</strong>. Compila il form online e mettiti in contatto con il nostro esperto per verificare se il pagamento dovuto ad Equitalia è regolare. Il nostro staff ti fornirà tutta l'assistenza necessaria.</p>
                </div>
            </div><!-- / column -->

        </div><!-- / row -->

    </section><!-- /.form-section -->
    <!-- extra-section -->
    <section class="extra-section extra-content2">
        <div class="container">
            <div class="flex-row middle-md">
                <div class="flex-col-md-12">
                    <div class="content">
                        <h3 class="title medium bold-4 edit-item edit-content">Rottamazione cartelle Equitalia, cosa prevede la Legge di Stabilità 2017</h3>
                        <p class="text mr-b-40">Il progetto di rottamazione delle cartelle Equitalia, secondo quanto definito dalla Legge di Stabilità 2017 e ai sensi dell'articolo 6 del decreto legge 193 del 2016, prevede un <strong>piano di pagamento agevolato</strong> in massimo cinque rate tramite cui i contribuenti coinvolti possono essere esentati dal versamento di <strong>sanzioni</strong> ed <strong>interessi di mora</strong>, anche per quanto concerne le multe stradali, per i debiti contratti dal 2000 al 2016 ed ancora in sospeso con Equitalia.
                            <br>In sostanza, richiedendo la rottamazione delle cartelle Equitalia, <strong>si va a pagare esclusivamente l'importo del debito originario</strong>, godendo dell'esenzione per quanto riguarda gli interessi maturati nel frattempo.</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Come aderire alla rottamazione delle cartelle Equitalia</h3>
                        <p class="text mr-b-40">Per avviare il piano di rottamazione delle cartelle Equitalia, la legge prevede che l'interessato presenti apposita domanda entro e non oltre il <strong>31 marzo 2017</strong>.<br>Il documento da compilare è scaricabile dal portale di Equitalia, oppure è reperibile presso gli sportelli dell’ente di riscossione. Si tratta del modulo DA1 (Dichiarazione di adesione alla definizione agevolata) che, interamente compilato, andrà consegnato, insieme alla copia di un documento di identità valido, presso la sede Equitalia più vicina. L'invio della dovuta documentazione può avvenire anche tramite mail PEC alla direzione regionale di Equitalia - Servizi di Riscossione.</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Rottamazione cartelle Equitalia, le scadenze</h3>
                        <p class="text mr-b-40">Secondo quanto confermato dall'ente di riscossione, entro fine febbraio 2017 Equitalia dovrà comunicare ai contribuenti a mezzo posta ordinaria la natura dei debiti contratti entro il 31 dicembre 2016 e non ancora notificati. A partire dall'avvenuta comunicazione da parte di Equitalia, si potrà aderire al piano di rottamazione delle cartelle fino al 31 marzo 2017, presentando apposita domanda presso gli sportelli Equitalia.<br>Entro il 31 maggio 2017, Equitalia darà risposta ai contribuenti che hanno aderito al piano agevolato di rottamazione delle cartelle indicando le somme dovute ed inviando i relativi bollettini con il prospetto delle date di scadenza.<br>Il contribuente potrà versare il dovuto per saldare il debito in unica soluzione, entro luglio 2017, o in massimo cinque rate. L'ultima rata non potrà essere saldata oltre il 30 settembre 2018.<br>Il ritardo della presentazione della domanda per la rottamazione delle cartelle Equitalia, o del versamento anche di una sola delle rate previste, comporta l'immediata uscita dal beneficio della rottamazione agevolata.</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Come effettuare il versamento del debito Equitalia</h3>
                        <p class="text mr-b-40">La singola rata o la soluzione unica per versare il dovuto presso Equitalia si può pagare con domiciliazione bancaria, oppure con bonifico o bollettino postale. Il pagamento può avvenire in banca, agli uffici postali, sul sito di Equitalia o direttamente agli sportelli dell'ente.<br>Se si sceglie la rateizzazione, si potranno versare le prime tre rate, di pari importo, a luglio, settembre e novembre 2017, e le ultime due rate, sempre di pari importo, ad aprile e settembre 2018.</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Chi può aderire alla rottamazione cartelle Equitalia</h3>
                        <p class="text mr-b-40">Avranno la possibilità di presentare domanda per la rottamazione delle cartelle Equitalia tutti i contribuenti che hanno ricevuto le cartelle esattoriali dal 2000 al 2016 emesse da regioni, province, comuni, città metropolitane, per ruoli relativi ad imposte quali Imu, Irpef, Irap, Ires, ed a contributi previdenziali ed assistenziali affidati dall’Agenzia delle Entrate, dall’Inps o dall’Inail.<br>Possono richiedere la rottamazione delle cartelle Equitalia anche i debitori che hanno fatto domanda di dilazione di pagamento, purché abbiano versato le rate dovute da ottobre a dicembre 2016, ed i debitori decaduti dalla rateazione prima di ottobre 2016.<br>La rottamazione è valida anche nei confronti delle sanzioni amministrative notificate per violazioni al codice della strada.</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Rottamazione cartelle Equitalia, chi non può usufruirne</h3>
                        <p class="text mr-b-40">Il beneficio a rate della rottamazione delle cartelle Equitalia non può essere richiesto se le cartelle esattoriali riguardano l’Iva riscossa all’importazione, le multe, le ammende e le sanzioni pecuniarie dovute a seguito di provvedimenti e sentenze penali di condanna, i crediti da danno erariale per sentenze di condanna della Corte dei Conti, ed il recupero di aiuti di stato.<br>E' bene ricordare che tutti i contribuenti che intendano usufruire della rottamazione delle cartelle Equitalia dal 2017 saranno comunque obbligati al versamento del debito originario, degli interessi per dilazione di pagamento per la percentuale del <strong>4%, e dell’aggio ricalcolato</strong>. Il contribuente che abbia già versato un importo pari all'intero debito d'imposta (comprensivo di interessi e sanzioni originariamente calcolate), potrà vedersi totalmente rottamata la cartella Equitalia.</p>
                        <h3 class="title medium bold-4 edit-item edit-content">Rottamazione cartelle Equitalia, per approfondire</h3>
                        <p class="text mr-b-40">Per qualsiasi altro tipo di approfondimento sulla rottamazione delle cartelle Equitalia è possibile consultare il nostro <a href="http://info.tuttovisure.it/?s=equitalia" target="_blank" class="bold-4">blog</a>, e richiedere informazioni attraverso la compilazione del nostro form online. Il nostro staff rimane a tua disposizione anche al <strong>numero dedicato 06.62.28.86.11</strong>.</p>
                    </div>
                </div><!-- / column -->
            </div><!-- / row -->
        </div><!-- / container -->
    </section><!-- / extra-section -->




    <!-- Footer section -->
    {% include 'footer.html.twig' %}
    <!-- ./Footer section -->

</div>
<!-- /#page -->

<!-- JavaScript -->
{% include 'cdn-javascript.html.twig'%}
<script type="text/javascript" src="{{ asset('assets/styleHome.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/styleTemplate.js') }}"></script>
{% include 'functionPage.html.twig' %}
</body>
</html>